<div
  class="w-full h-full flex flex-col max-w-xl bg-white rounded-md p-6 shadow-sm border border-solid border-gray-200"
>
  <div class="font-medium text-gray-900 text-xl mb-3">
    {{ "TutorInfo.Teaching" | translate }}
  </div>
  <form [formGroup]="tutorTeachingForm">
    <mat-form-field appearance="fill" class="w-full" floatLabel="always">
      <mat-label>{{ "TutorInfo.LanguageWantToTeach" | translate }}</mat-label>
      <mat-select
        formControlName="teachingLanguage"
        placeholder="{{ 'Action.Select' | translate }}"
      >
        <mat-select-trigger>
          <div class="flex gap-3 items-center">
            <div class="w-6 overflow-hidden">
              <img
                class="w-full object-cover"
                [src]="
                  this.tutorTeachingForm.get('teachingLanguage')?.value?.imgUrl
                "
                [attr.alt]="
                  this.tutorTeachingForm.get('teachingLanguage')?.value?.label
                "
              />
            </div>

            <div>
              {{ this.tutorTeachingForm.get("teachingLanguage")?.value?.label }}
            </div>
          </div>
        </mat-select-trigger>
        <mat-option *ngFor="let item of teachingLanguageOptions" [value]="item">
          <div class="flex gap-3 items-center">
            <div class="w-6 overflow-hidden">
              <img
                class="w-full object-cover"
                [src]="item.imgUrl"
                [attr.alt]="item?.label"
              />
            </div>

            <div>{{ item.label }}</div>
          </div>
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="tutorTeachingForm.get('teachingLanguage')?.hasError('required')"
        >{{ "Error.Required" | translate }}</mat-error
      >
    </mat-form-field>
    <div class="mt-4 flex justify-between gap-4">
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        (click)="submit()"
      >
        {{ "Action.Save" | translate }}
      </button>
    </div>
  </form>
</div>
