<div class="w-full">
  <form [formGroup]="profileForm" class="flex flex-col gap-4">
    <div
      class="bg-white rounded p-6 pb-2 border border-solid border-gray-200"
    >
      <div class="font-medium text-gray-900 text-xl mb-3">
        {{ "UserProfile.Title" | translate }}
      </div>
      <div class="mb-4">
        <div class="flex gap-5 items-center">
          <img
            *ngIf="profileForm.get('profilePictureUrl')?.value"
            class="w-20 h-20 rounded-full overflow-hidden"
            [src]="profileForm.get('profilePictureUrl')?.value"
            alt=""
          />
          <div
            *ngIf="!profileForm.get('profilePictureUrl')?.value"
            class="w-20 h-20 rounded-full overflow-hidden flex justify-center items-center font-medium bg-primary text-white uppercase text-2xl"
          >
            {{ profileForm.get("firstName")?.value?.charAt(0) || "H" }}
          </div>

          <div class="flex gap-2 justify-center">
            <!-- Change image -->
            <button
              type="button"
              mat-flat-button
              [color]="'primary'"
              class="btn--sm"
              (click)="uploadProfilePictureFile.click()"
            >
              {{
                profileForm.get("profilePictureUrl")?.value
                  ? ("FileUpload.Change" | translate)
                  : ("FileUpload.AddAPhoto" | translate)
              }}
            </button>
            <!-- Remove image -->
            <button
              *ngIf="profileForm.get('profilePictureUrl')?.value"
              type="button"
              mat-button
              [color]="'primary'"
              class="btn--sm"
              (click)="onRemoveProfilePicture()"
            >
              {{ "Action.Remove" | translate }}
            </button>
          </div>
        </div>

        <input
          hidden
          type="file"
          accept="image/*"
          #uploadProfilePictureFile
          (change)="
            onProfilePictureFileSelected($event, uploadProfilePictureFile)
          "
        />
      </div>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "UserProfile.FirstName" | translate }}</mat-label>
        <input
          matInput
          formControlName="firstName"
          appPreventAutoFill
          #firstName
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="firstName.value != '' && !profileForm.disabled"
          (click)="profileForm.get('firstName')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
        <mat-error *ngIf="profileForm.get('firstName')?.hasError('required')">{{
          "Error.Required" | translate
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "UserProfile.LastName" | translate }}</mat-label>
        <input
          matInput
          formControlName="lastName"
          appPreventAutoFill
          #lastName
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="lastName.value != '' && !profileForm.disabled"
          (click)="profileForm.get('lastName')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
        <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')">{{
          "Error.Required" | translate
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" #email />
        <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
          {{ "Error.Required" | translate }}
        </mat-error>
        <mat-error *ngIf="profileForm.get('email')?.hasError('email')">{{
          "Error.Email" | translate
        }}</mat-error>
        <mat-error
          *ngIf="profileForm.get('email')?.hasError('existingEmail')"
          >{{ "Error.ExistingEmail" | translate }}</mat-error
        >

        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="
            profileForm.get('email')?.status !== 'PENDING' &&
            email.value != '' &&
            !profileForm.disabled &&
            !profileForm.get('email')?.valid
          "
          (click)="profileForm.get('email')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
        <div class="ml-2" matSuffix *ngIf="profileForm.get('email')?.valid">
          <mat-icon
            class="!text-success"
            [svgIcon]="'mat_outline:check_circle'"
          ></mat-icon>
        </div>
        <mat-progress-spinner
          [diameter]="24"
          *ngIf="profileForm.get('email')?.status === 'PENDING'"
          mode="indeterminate"
          matSuffix
        >
        </mat-progress-spinner>
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        [disabled]="profileForm.disabled"
      >
        <span *ngIf="!profileForm.disabled">
          {{ "Action.Save" | translate }}
        </span>

        <mat-progress-spinner
          *ngIf="profileForm.disabled"
          [diameter]="24"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </button>
    </div>
  </form>
</div>
