<div
  class="w-full min-h-full flex flex-col gap-6 items-center bg-default relative pb-20 px-4"
>
  <div class="w-full max-w-7xl flex flex-col gap-6 items-center justify-start">
    <div class="flex justify-between items-center gap-4 w-full py-4 h-16">
      <button mat-button type="button" routerLink="/onboarding/account-type">
        <div class="flex items-center gap-1">
          <mat-icon
            class="!text-tertiary"
            svgIcon="mat_outline:arrow_back"
          ></mat-icon>
          <div class="text-tertiary">
            {{ "Action.Back" | translate }}
          </div>
        </div>
      </button>

      <button mat-button type="button" (click)="logout()">
        <div class="text-primary">
          {{ "OnBoarding.Logout" | translate }}
        </div>
      </button>
    </div>

    <div class="w-full max-w-xl">
      <div class="font-medium text-2xl text-center mb-4">
        {{ "TutorProfile.Title" | translate }}
      </div>

      <mat-stepper
        #stepper
        orientation="horizontal"
        class="!bg-inherit stepperTop"
        [disableRipple]="true"
        labelPosition="bottom"
        [linear]="true"
        animationDuration="0"
        (selectionChange)="onStepChanged($event)"
      >
        <ng-template matStepperIcon="edit">
          <mat-icon class="text-white" svgIcon="mat_outline:check"></mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon class="text-white" svgIcon="mat_outline:done"></mat-icon>
        </ng-template>
        <mat-step [editable]="true" [stepControl]="tutorBasicInfoForm">
          <ng-template matStepLabel>{{
            "TutorProfile.Basic" | translate
          }}</ng-template>
          <ng-template matStepContent>
            <div class="flex justify-center -mx-6 sm:px-6">
              <div class="w-full pt-4">
                <form
                  [formGroup]="tutorBasicInfoForm"
                  (keydown.enter)="(false)"
                >
                  <div class="flex flex-col gap-2 mb-4">
                    <div class="text-secondary flex gap-1 items-center">
                      {{ "TutorProfile.ProfilePicture" | translate }}
                    </div>
                    <div
                      class="rounded border border-solid bg-surface border-light p-4 flex flex-col"
                    >
                      <div
                        class="flex flex-col items-center gap-4 items-center"
                      >
                        <div class="w-24 h-24 relative">
                          <mat-icon
                            *ngIf="!tutorBasicInfoForm.get('avatar')?.value"
                            class="icon-size-24 text-gray-300"
                            svgIcon="mat_outline:account_circle"
                          ></mat-icon>
                          <img
                            class="w-full h-full rounded-full overflow-hidden object-cover"
                            *ngIf="tutorBasicInfoForm.get('avatar')?.value"
                            [src]="tutorBasicInfoForm.get('avatar')?.value"
                            alt="Profile picture"
                          />
                        </div>
                        <div class="flex gap-4 justify-center">
                          <!-- Change image -->
                          <button
                            type="button"
                            mat-button
                            [color]="'primary'"
                            class="btn--sm !border-primary !border !border-solid"
                            (click)="uploadProfilePictureFile.click()"
                          >
                            {{
                              tutorBasicInfoForm.get("avatar")?.value
                                ? ("FileUpload.Change" | translate)
                                : ("FileUpload.AddAPhoto" | translate)
                            }}
                          </button>
                          <!-- Remove image -->
                          <button
                            *ngIf="tutorBasicInfoForm.get('avatar')?.value"
                            type="button"
                            mat-button
                            class="btn--sm"
                            (click)="onRemoveProfilePicture()"
                          >
                            <div class="text-danger">
                              {{ "Action.Remove" | translate }}
                            </div>
                          </button>
                        </div>
                      </div>

                      <input
                        hidden
                        type="file"
                        accept="image/*"
                        #uploadProfilePictureFile
                        (change)="
                          onProfilePictureFileSelected(
                            $event,
                            uploadProfilePictureFile
                          )
                        "
                      />
                    </div>
                  </div>

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorProfile.FirstName" | translate
                    }}</mat-label>
                    <input
                      matInput
                      formControlName="firstName"
                      appPreventAutoFill
                      #firstName
                    />
                    <button
                      mat-icon-button
                      type="button"
                      matSuffix
                      *ngIf="firstName.value != ''"
                      [disabled]="tutorBasicInfoForm.disabled"
                      (click)="
                        tutorBasicInfoForm.get('firstName')?.setValue('')
                      "
                    >
                      <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                    </button>
                    <mat-error
                      *ngIf="
                        tutorBasicInfoForm
                          .get('firstName')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorProfile.LastName" | translate
                    }}</mat-label>
                    <input
                      matInput
                      formControlName="lastName"
                      appPreventAutoFill
                      #lastName
                    />
                    <button
                      mat-icon-button
                      type="button"
                      matSuffix
                      *ngIf="lastName.value != ''"
                      [disabled]="tutorBasicInfoForm.disabled"
                      (click)="tutorBasicInfoForm.get('lastName')?.setValue('')"
                    >
                      <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                    </button>
                    <mat-error
                      *ngIf="
                        tutorBasicInfoForm.get('lastName')?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field
                    appearance="fill"
                    floatLabel="always"
                    class="w-full"
                    (click)="picker.open()"
                  >
                    <mat-label>{{
                      "TutorProfile.DateOfBirth" | translate
                    }}</mat-label>
                    <input
                      readonly
                      matInput
                      formControlName="dob"
                      [matDatepicker]="picker"
                      [max]="maxDate"
                      placeholder="DD/MM/YYYY"
                    />
                    <mat-hint>{{
                      "TutorProfile.DateOfBirthNotDisplay" | translate
                    }}</mat-hint>
                    <mat-error
                      *ngIf="
                        tutorBasicInfoForm.get('dob')?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <div class="mt-2 flex justify-center">
                    <button
                      type="submit"
                      class="btn--lg w-full"
                      mat-flat-button
                      [color]="'primary'"
                      (click)="submitTutorBasicInfoForm()"
                      [disabled]="tutorBasicInfoForm.disabled"
                    >
                      <span *ngIf="!tutorBasicInfoForm.disabled">
                        {{ "Action.Continue" | translate }}
                      </span>

                      <mat-progress-spinner
                        *ngIf="tutorBasicInfoForm.disabled"
                        [diameter]="24"
                        mode="indeterminate"
                      >
                      </mat-progress-spinner>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </mat-step>
        <mat-step [editable]="true" [stepControl]="tutorExperienceForm">
          <ng-template matStepLabel>{{
            "TutorProfile.Teaching" | translate
          }}</ng-template>
          <ng-template matStepContent>
            <div class="flex justify-center -mx-6 sm:px-6">
              <div class="w-full pt-4">
                <form
                  [formGroup]="tutorExperienceForm"
                  (keydown.enter)="(false)"
                >
                  <mat-form-field
                    appearance="fill"
                    class="w-full"
                    floatLabel="always"
                  >
                    <mat-label>{{
                      "TutorProfile.LanguageWantToTeach" | translate
                    }}</mat-label>
                    <mat-select
                      formControlName="teachingLanguage"
                      placeholder="{{ 'Action.Select' | translate }}"
                    >
                      <mat-select-trigger>
                        <div class="flex gap-3 items-center">
                          <div class="w-6 overflow-hidden">
                            <img
                              class="w-full object-cover"
                              [src]="
                                this.tutorExperienceForm.get('teachingLanguage')
                                  ?.value?.imgUrl
                              "
                              [attr.alt]="
                                this.tutorExperienceForm.get('teachingLanguage')
                                  ?.value?.label
                              "
                            />
                          </div>

                          <div>
                            {{
                              this.tutorExperienceForm.get("teachingLanguage")
                                ?.value?.label
                            }}
                          </div>
                        </div>
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let item of teachingLanguageOptions"
                        [value]="item"
                      >
                        <div class="flex gap-3 items-center">
                          <div class="w-6 overflow-hidden">
                            <img
                              class="w-full object-cover"
                              [src]="item.imgUrl"
                              [attr.alt]="item?.label"
                            />
                          </div>

                          <div>{{ item.label }}</div>
                        </div>
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        tutorExperienceForm
                          .get('teachingLanguage')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field
                    appearance="fill"
                    class="w-full"
                    floatLabel="always"
                  >
                    <mat-label>{{
                      "TutorProfile.WhatYouTeach" | translate
                    }}</mat-label>
                    <mat-chip-grid
                      #chipTeachingJobList
                      formControlName="teachingJobs"
                    >
                      <mat-chip-row
                        [disableRipple]="true"
                        *ngFor="
                          let job of this.tutorExperienceForm.get(
                            'teachingJobs'
                          )?.value || []
                        "
                        (removed)="remove(job)"
                      >
                        {{ job }}
                        <button
                          matChipRemove
                          [disabled]="this.tutorExperienceForm.disabled"
                        >
                          <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                        </button>
                      </mat-chip-row>
                      <input
                        placeholder="{{
                          'TutorProfile.TeachingJobDescription' | translate
                        }}"
                        [matChipInputFor]="chipTeachingJobList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)"
                        #teachingJobInput
                        (blur)="teachingJobInput.value = ''"
                      />
                    </mat-chip-grid>
                    <mat-hint>{{
                      "Action.PressEnterToAdd" | translate
                    }}</mat-hint>
                    <mat-error
                      *ngIf="
                        tutorExperienceForm
                          .get('teachingJobs')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorProfile.TeachingExperience" | translate
                    }}</mat-label>
                    <mat-select
                      formControlName="teachingExperience"
                      placeholder="{{ 'Action.Select' | translate }}"
                    >
                      <mat-option
                        *ngFor="let item of teachingExperienceOptions"
                        [value]="item.value"
                      >
                        {{ item.translateKey | translate }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        tutorExperienceForm
                          .get('teachingExperience')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <div class="flex flex-col mb-4">
                    <div
                      class="text-secondary flex gap-1 items-center mb-2"
                      [ngClass]="
                        tutorExperienceForm.disabled ? 'opacity-70' : ''
                      "
                    >
                      {{ "TutorProfile.LanguagesYouSpeak" | translate }}
                    </div>
                    <div formArrayName="languages" class="flex flex-col gap-3">
                      <div
                        *ngFor="
                          let language of languagesFormArray.controls;
                          let i = index
                        "
                        class="flex items-center flex-wrap md:flex-nowrap gap-x-3 rounded border border-light border-solid px-3 py-2 bg-surface relative"
                        [formGroupName]="i"
                      >
                        <div class="flex-grow">
                          <mat-form-field
                            appearance="fill"
                            class="w-full"
                            floatLabel="always"
                          >
                            <mat-label>
                              {{ "TutorProfile.Language" | translate }}
                            </mat-label>
                            <mat-select
                              placeholder="{{ 'Action.Select' | translate }}"
                              formControlName="language"
                            >
                              <mat-option
                                *ngFor="let item of languageOptions"
                                [value]="item.value"
                              >
                                {{ item.translateKey | translate }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="
                                languagesFormArray
                                  .at(i)
                                  .get('language')
                                  ?.hasError('required')
                              "
                              >{{ "Error.Required" | translate }}</mat-error
                            >
                          </mat-form-field>
                        </div>
                        <div class="flex-grow">
                          <mat-form-field
                            appearance="fill"
                            class="w-full"
                            floatLabel="always"
                          >
                            <mat-label>
                              {{ "TutorProfile.Fluency" | translate }}
                            </mat-label>
                            <mat-select
                              placeholder="{{ 'Action.Select' | translate }}"
                              formControlName="fluency"
                            >
                              <mat-option
                                *ngFor="let item of fluencyOptions"
                                [value]="item.value"
                              >
                                {{ item.translateKey | translate }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="
                                languagesFormArray
                                  .at(i)
                                  .get('fluency')
                                  ?.hasError('required')
                              "
                              >{{ "Error.Required" | translate }}</mat-error
                            >
                          </mat-form-field>
                        </div>

                        <div
                          class="mt-3"
                          *ngIf="
                            languagesFormArray.controls.length > 1 && i > 0
                          "
                        >
                          <button
                            mat-icon-button
                            type="button"
                            (click)="removeLanguage(i)"
                            [disabled]="this.tutorExperienceForm.disabled"
                          >
                            <mat-icon
                              class="text-danger"
                              svgIcon="mat_outline:clear"
                            ></mat-icon>
                          </button>
                        </div>
                      </div>

                      <div
                        class="flex justify-end"
                        *ngIf="!tutorExperienceForm.disabled"
                      >
                        <a class="cursor-pointer" (click)="addLanguage()">
                          {{ "TutorProfile.AddLanguage" | translate }}</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="flex flex-col mb-4">
                    <div
                      class="text-secondary flex gap-1 items-center mb-2"
                      [ngClass]="
                        tutorExperienceForm.disabled ? 'opacity-70' : ''
                      "
                    >
                      {{ "TutorProfile.TeachingCertificates" | translate }}
                      <span class="text-danger">*</span>
                      <span class="text-gray-400 font-normal text-sm"
                        >({{
                          "FileUpload.OnlyFileTypeAndMaxSize"
                            | translate : { fileType: ".pdf", maxSize: "5MB" }
                        }})</span
                      >
                    </div>
                    <div class="flex flex-col">
                      <div
                        class="rounded border border-solid bg-surface border-light p-4 flex flex-col gap-2 items-center justify-center relative"
                        [ngClass]="
                          isOnDropFilesContainer
                            ? '!border-primary !bg-gray-50'
                            : ''
                        "
                        (dragenter)="onDragEnter($event)"
                        (dragleave)="onDragLeave($event)"
                        (dragover)="onDragOver($event)"
                        (drop)="onDrop($event)"
                      >
                        <mat-icon
                          class="icon-size-12 text-hint"
                          svgIcon="mat_outline:upload_file"
                        ></mat-icon>
                        <div class="text-base">
                          {{ "FileUpload.DragAndDropHere" | translate }}
                        </div>
                        <div class="text-gray-400">
                          {{ "FileUpload.Or" | translate }}
                        </div>
                        <button
                          type="button"
                          mat-flat-button
                          [color]="'primary'"
                          class="btn--sm"
                          (click)="uploadFile.click()"
                          [disabled]="tutorExperienceForm.disabled"
                        >
                          {{ "FileUpload.BrowseFiles" | translate }}
                        </button>
                        <input
                          hidden
                          multiple
                          type="file"
                          accept=".pdf"
                          #uploadFile
                          (change)="onCertificatesSelected($event, uploadFile)"
                        />
                      </div>
                      <div
                        class="flex flex-col gap-2 mt-4"
                        *ngIf="
                          this.tutorExperienceForm.get('teachingCertificates')
                            ?.value &&
                          this.tutorExperienceForm.get('teachingCertificates')
                            ?.value.length > 0
                        "
                      >
                        <div
                          class="bg-surface rounded flex gap-4 items-center px-3 py-2 border border-solid border-light"
                          *ngFor="
                            let file of this.tutorExperienceForm.get(
                              'teachingCertificates'
                            )?.value || [];
                            let i = index
                          "
                        >
                          <div class="flex flex-col gap-1 overflow-hidden">
                            <div
                              class="text-gray-600 overflow-hidden text-ellipsis whitespace-nowrap"
                            >
                              <a
                                [href]="file.url"
                                target="_blank"
                                class="text-inherit"
                                t
                              >
                                {{ file.originalname }}
                              </a>
                            </div>
                            <div class="text-gray-400 text-sm">
                              {{ file.size / 1024 | number : "1.2" }} KB
                            </div>
                          </div>

                          <div class="flex-shrink-0 ml-auto">
                            <button
                              type="button"
                              mat-icon-button
                              [disabled]="tutorExperienceForm.disabled"
                              (click)="removeCertificate(i)"
                            >
                              <mat-icon
                                class="text-danger"
                                svgIcon="mat_outline:clear"
                              ></mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="text-xs text-danger mt-2"
                      *ngIf="
                        this.tutorExperienceForm
                          .get('teachingCertificates')
                          ?.hasError('required') &&
                        (this.tutorExperienceForm.get('teachingCertificates')
                          ?.touched ||
                          this.tutorExperienceForm.get('teachingCertificates')
                            ?.dirty)
                      "
                    >
                      {{ "Error.File" | translate }}
                    </div>
                  </div>
                  <div class="flex flex-col gap-2">
                    <div
                      class="text-secondary"
                      [ngClass]="
                        tutorExperienceForm.disabled ? 'opacity-70' : ''
                      "
                    >
                      {{
                        "TutorProfile.HaveExperienceTeachingOnline" | translate
                      }}
                    </div>
                    <mat-radio-group
                      formControlName="haveExperienceTeachingOnline"
                      class="flex gap-3.5"
                    >
                      <mat-radio-button [value]="false">{{
                        "TutorProfile.No" | translate
                      }}</mat-radio-button>
                      <mat-radio-button [value]="true">{{
                        "TutorProfile.Yes" | translate
                      }}</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="mt-6 flex justify-between gap-4">
                    <button
                      type="button"
                      class="btn--lg !px-6"
                      [disabled]="tutorExperienceForm.disabled"
                      mat-stroked-button
                      matStepperPrevious
                    >
                      {{ "Action.Back" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn--lg !px-6"
                      mat-flat-button
                      [color]="'primary'"
                      (click)="submitTutorExperienceForm()"
                      [disabled]="tutorExperienceForm.disabled"
                    >
                      <span *ngIf="!tutorExperienceForm.disabled">
                        {{ "Action.Continue" | translate }}
                      </span>

                      <mat-progress-spinner
                        *ngIf="tutorExperienceForm.disabled"
                        [diameter]="24"
                        mode="indeterminate"
                      >
                      </mat-progress-spinner>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </mat-step>
        <mat-step [editable]="true" [stepControl]="tutorIntroductionForm">
          <ng-template matStepLabel>{{
            "TutorProfile.Introduction" | translate
          }}</ng-template>
          <ng-template matStepContent>
            <div class="flex justify-center -mx-6 sm:px-6">
              <div class="w-full mt-4">
                <form
                  [formGroup]="tutorIntroductionForm"
                  (keydown.enter)="(false)"
                >
                  <mat-form-field
                    appearance="fill"
                    class="w-full"
                    floatLabel="always"
                  >
                    <mat-label>{{
                      "TutorProfile.Introduction" | translate
                    }}</mat-label>
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="8"
                      formControlName="introduction"
                      placeholder="{{
                        'TutorProfile.IntroductionDescription' | translate
                      }}"
                      maxlength="1000"
                      appPreventAutoFill
                    ></textarea>
                    <mat-hint class="w-full -mt-3">
                      <div class="text-right -mr-3">
                        {{
                          tutorIntroductionForm.get("introduction")?.value
                            .length || 0
                        }}/1000
                      </div>
                    </mat-hint>
                    <mat-error
                      *ngIf="
                        tutorIntroductionForm
                          .get('introduction')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>

                  <div class="mb-4">
                    <div
                      class="text-secondary mb-2"
                      [ngClass]="
                        tutorIntroductionForm.disabled ? 'opacity-70' : ''
                      "
                    >
                      {{ "TutorProfile.VideoIntroduction" | translate }}
                    </div>
                    <div
                      class="p-3 rounded bg-surface border border-solid border-light"
                    >
                      <div
                        class="mb-3 text-tertiary"
                        [ngClass]="
                          tutorIntroductionForm.disabled ? 'opacity-70' : ''
                        "
                      >
                        {{
                          "TutorProfile.VideoIntroductionDescription"
                            | translate
                        }}
                      </div>
                      <mat-form-field
                        appearance="fill"
                        class="w-full"
                        floatLabel="always"
                      >
                        <mat-label>{{
                          "TutorProfile.YoutubeVideoUrl" | translate
                        }}</mat-label>
                        <input
                          matInput
                          formControlName="videoIntroduction"
                          placeholder="https://www.youtube.com/embed/DBXH9jJRaDk"
                          #videoIntroduction
                        />
                        <button matPrefix type="button">
                          <mat-icon [svgIcon]="'mat_outline:link'"> </mat-icon>
                        </button>
                        <mat-error
                          *ngIf="
                            tutorIntroductionForm
                              .get('videoIntroduction')
                              ?.hasError('pattern')
                          "
                        >
                          {{ "Error.InvalidYoutubeUrl" | translate }}
                        </mat-error>
                        <button
                          mat-icon-button
                          type="button"
                          matSuffix
                          *ngIf="videoIntroduction.value != ''"
                          [disabled]="tutorIntroductionForm.disabled"
                          (click)="
                            tutorIntroductionForm
                              .get('videoIntroduction')
                              ?.setValue('')
                          "
                        >
                          <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="mt-2 flex justify-between gap-4">
                    <button
                      class="btn--lg !px-6"
                      mat-stroked-button
                      matStepperPrevious
                    >
                      {{ "Action.Back" | translate }}
                    </button>
                    <button
                      type="submit"
                      class="btn--lg !px-6"
                      mat-flat-button
                      [color]="'primary'"
                      [disabled]="tutorIntroductionForm.disabled"
                      (click)="submitTutorIntroductionForm()"
                    >
                      <span *ngIf="!tutorIntroductionForm.disabled">
                        {{ "Action.Continue" | translate }}
                      </span>

                      <mat-progress-spinner
                        *ngIf="tutorIntroductionForm.disabled"
                        [diameter]="24"
                        mode="indeterminate"
                      >
                      </mat-progress-spinner>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </mat-step>
        <mat-step [editable]="true" [stepControl]="tutorMotivationForm">
          <ng-template matStepLabel>{{
            "TutorProfile.Motivation" | translate
          }}</ng-template>
          <ng-template matStepContent>
            <div class="flex justify-center -mx-6 sm:px-6">
              <div class="w-full mt-4">
                <form
                  [formGroup]="tutorMotivationForm"
                  (keydown.enter)="(false)"
                >
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorProfile.ReasonHere" | translate
                    }}</mat-label>
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="8"
                      formControlName="reasonHere"
                      maxlength="500"
                      appPreventAutoFill
                    ></textarea>
                    <mat-hint class="w-full">
                      <div class="text-right -mr-3">
                        {{
                          tutorMotivationForm.get("reasonHere")?.value.length ||
                            0
                        }}/500
                      </div>
                    </mat-hint>
                    <mat-error
                      *ngIf="
                        tutorMotivationForm
                          .get('reasonHere')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "OnBoarding.WhereHeardFrom" | translate
                    }}</mat-label>
                    <mat-select
                      formControlName="heardFrom"
                      placeholder="{{ 'Action.Select' | translate }}"
                    >
                      <mat-option
                        *ngFor="let item of heardFromOptions"
                        [value]="item.value"
                      >
                        {{ item.translateKey | translate }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        tutorMotivationForm
                          .get('heardForm')
                          ?.hasError('required')
                      "
                      >{{ "Error.Required" | translate }}</mat-error
                    >
                  </mat-form-field>

                  <div class="mt-2 flex justify-between gap-4">
                    <button
                      class="btn--lg !px-6"
                      mat-stroked-button
                      matStepperPrevious
                    >
                      {{ "Action.Back" | translate }}
                    </button>
                    <button
                      type="submit"
                      class="btn--lg !px-6"
                      mat-flat-button
                      [color]="'primary'"
                      (click)="submitTutorMotivationForm()"
                      [disabled]="tutorMotivationForm.disabled"
                    >
                      <span *ngIf="!tutorMotivationForm.disabled">
                        {{ "Action.Continue" | translate }}
                      </span>

                      <mat-progress-spinner
                        *ngIf="tutorMotivationForm.disabled"
                        [diameter]="24"
                        mode="indeterminate"
                      >
                      </mat-progress-spinner>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
