<div
  class="w-full min-h-full flex flex-col items-center py-20 px-4 bg-gray-100"
>
  <div
    class="w-full max-w-md min-h-[500px] rounded-md sm:shadow-base sm:px-9 sm:py-12 bg-white"
  >
    <div class="font-semibold text-gray-900 text-2xl mb-2">Login</div>

    <form class="mt-8" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input
          id="password"
          matInput
          type="password"
          formControlName="password"
          #passwordField
        />
        <button
          mat-icon-button
          type="button"
          (click)="
            passwordField.type === 'password'
              ? (passwordField.type = 'text')
              : (passwordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'password'"
            [svgIcon]="'mat_outline:visibility'"
          ></mat-icon>
          <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'text'"
            [svgIcon]="'mat_outline:visibility_off'"
          ></mat-icon>
        </button>
        <mat-error> Password is required </mat-error>
      </mat-form-field>
      <div class="text-right">
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>
      <button
        class="w-full mt-6 btn--lg"
        mat-flat-button
        [color]="'primary'"
      >
        Login
      </button>
    </form>
  </div>
</div>
