<label
  (click)="onClick($event, cb, true)"
  [attr.for]="inputId"
  class="checkbox__container"
>
  <input
    #cb
    type="checkbox"
    class="sr-only"
    [attr.id]="inputId"
    [attr.name]="name"
    [readonly]="readonly"
    [value]="value"
    [checked]="checked"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [disabled]="disabled"
    [attr.tabindex]="tabindex"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-label]="ariaLabel"
    [attr.aria-checked]="checked"
    [attr.required]="required"
  />
  <div class="checkbox__frame">
    <div class="checkbox__box">
      <svg
        *ngIf="checked"
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5 13l4 4L19 7"
        />
      </svg>
    </div>
  </div>

  <div class="checkbox__label" *ngIf="hasLabel">
    <ng-content></ng-content>
  </div>
</label>
