<div
  class="w-full h-full flex flex-col max-w-xl bg-white rounded-md p-6 shadow-sm border border-solid border-gray-200"
>
  <div class="font-medium text-gray-900 text-xl mb-3">
    {{ "TutorInfo.BasicInfo" | translate }}
  </div>
  <form [formGroup]="tutorBasicInfoForm">
    <div class="mb-4">
      <div class="flex gap-5 items-center">
        <img
          *ngIf="tutorBasicInfoForm.get('profilePictureUrl')?.value"
          class="w-20 h-20 rounded-full overflow-hidden"
          [src]="tutorBasicInfoForm.get('profilePictureUrl')?.value"
          alt=""
        />
        <div
          *ngIf="!tutorBasicInfoForm.get('profilePictureUrl')?.value"
          class="w-20 h-20 rounded-full overflow-hidden flex justify-center items-center font-medium bg-primary text-white uppercase text-2xl"
        >
          {{ tutorBasicInfoForm.get("firstName")?.value?.charAt(0) || "H" }}
        </div>

        <div class="flex gap-2 justify-center">
          <!-- Change image -->
          <button
            type="button"
            mat-stroked-button
            [color]="'primary'"
            (click)="uploadProfilePictureFile.click()"
          >
            {{
              tutorBasicInfoForm.get("profilePictureUrl")?.value
                ? ("FileUpload.Change" | translate)
                : ("FileUpload.AddAPhoto" | translate)
            }}
          </button>
          <!-- Remove image -->
          <button
            *ngIf="tutorBasicInfoForm.get('profilePictureUrl')?.value"
            type="button"
            mat-button
            (click)="onRemoveProfilePicture()"
          >
            <div class="text-danger">Remove</div>
          </button>
        </div>
      </div>

      <input
        hidden
        type="file"
        accept="image/*"
        #uploadProfilePictureFile
        (change)="
          onProfilePictureFileSelected($event, uploadProfilePictureFile)
        "
      />
    </div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ "TutorInfo.FirstName" | translate }}</mat-label>
      <input
        matInput
        formControlName="firstName"
        appPreventAutoFill
        #firstName
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        *ngIf="firstName.value != ''"
        (click)="tutorBasicInfoForm.get('firstName')?.setValue('')"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'mat_outline:close'"
        ></mat-icon>
      </button>
      <mat-error
        *ngIf="tutorBasicInfoForm.get('firstName')?.hasError('required')"
        >{{ "Error.Required" | translate }}</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ "TutorInfo.LastName" | translate }}</mat-label>
      <input matInput formControlName="lastName" appPreventAutoFill #lastName />
      <button
        mat-icon-button
        type="button"
        matSuffix
        *ngIf="lastName.value != ''"
        (click)="tutorBasicInfoForm.get('firstName')?.setValue('')"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'mat_outline:close'"
        ></mat-icon>
      </button>
      <mat-error
        *ngIf="tutorBasicInfoForm.get('lastName')?.hasError('required')"
        >{{ "Error.Required" | translate }}</mat-error
      >
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      floatLabel="always"
      class="w-full"
      (click)="picker.open()"
    >
      <mat-label>{{ "TutorInfo.DateOfBirth" | translate }}</mat-label>
      <input
        readonly
        matInput
        formControlName="dob"
        [matDatepicker]="picker"
        [max]="maxDate"
        placeholder="DD/MM/YYYY"
      />
      <mat-error *ngIf="tutorBasicInfoForm.get('dob')?.hasError('required')">{{
        "Error.Required" | translate
      }}</mat-error>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="mt-4 flex justify-center">
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        (click)="submitTutorBasicInfoForm()"
      >
        {{ "Action.Save" | translate }}
      </button>
    </div>
  </form>
</div>
