<div
  class="w-full min-h-full flex flex-col gap-6 items-center bg-gray-50 relative pb-20 px-4"
>
  <div class="w-full max-w-7xl flex flex-col gap-6 items-center justify-start">
    <div class="flex justify-between items-center gap-4 w-full py-4 h-16">
      <div class="flex items-center gap-2">
        <div class="font-semibold text-gray-900 text-xl cursor-pointer">Vietspeak</div>
        <languages></languages>
      </div>

      <button class="btn" type="button" mat-button (click)="logout()">
        <div class="text-primary">{{ "OnBoarding.Logout" | translate }}</div>
      </button>
    </div>

    <div class="w-full max-w-md">
      <div
        class="font-semibold text-gray-900 text-2xl text-center mb-10 capitalize"
      >
        {{ "SelectAccountType.Title" | translate }}
      </div>

      <div class="flex gap-6 justify-between">
        <div
          class="flex flex-col items-center gap-4 cursor-pointer"
          *ngFor="let type of accountTypeList"
          (click)="onSelectAccountType(type)"
        >
          <div
            class="border-4 rounded-md w-48 h-48 flex justify-center items-center bg-white"
            [ngClass]="selectedAccountType === type ? 'border-primary' : ''"
          >
            <mat-icon
              class="icon-size-18"
              [ngClass]="
                selectedAccountType === type ? 'text-primary' : 'text-gray-400 '
              "
              [svgIcon]="type.icon"
            ></mat-icon>
          </div>

          <div
            class="text-sm font-medium uppercase"
            [ngClass]="
              selectedAccountType === type ? 'text-primary' : 'text-gray-400 '
            "
          >
            {{ type.translateKey | translate }}
          </div>
        </div>
      </div>

      <div class="mt-8 flex justify-center">
        <button
          type="submit"
          class="btn btn--lg w-full"
          mat-flat-button
          [color]="'primary'"
          (click)="continue()"
          [disabled]="accountTypeForm.disabled || accountTypeForm.invalid"
        >
          <span *ngIf="!accountTypeForm.disabled">
            {{ "Actions.Continue" | translate }}
          </span>

          <mat-progress-spinner
            *ngIf="accountTypeForm.disabled"
            [diameter]="24"
            mode="indeterminate"
          >
          </mat-progress-spinner>
        </button>
      </div>
    </div>
  </div>
</div>
