<div class="w-full min-h-full flex flex-col items-center bg-gray-100">
  <div
    class="w-full max-w-7xl px-4 flex flex-col gap-14 items-center justify-start pb-12 pt-4"
  >
    <div class="flex justify-between items-center w-full">
      <div class="font-bold text-gray-900 text-xl">Vietspeak</div>
      <div class="flex items-center gap-2">
        <div class="text-gray-400">Already have an account?</div>
        <button
          class="btn--sm"
          mat-flat-button
          [color]="'primary'"
          routerLink="/login"
        >
          Login
        </button>
      </div>
    </div>
    <div
      class="w-full max-w-md rounded-md sm:shadow sm:px-12 sm:py-12 sm:bg-white"
    >
      <div class="font-semibold text-gray-900 text-2xl mb-2">Register</div>

      <form class="mt-8" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <!-- <mat-error>This field is required</mat-error> -->
          <mat-error>Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            #passwordField
          />
          <button
            mat-icon-button
            type="button"
            (click)="
              passwordField.type === 'password'
                ? (passwordField.type = 'text')
                : (passwordField.type = 'password')
            "
            matSuffix
          >
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'password'"
              [svgIcon]="'mat_outline:visibility'"
            ></mat-icon>
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'text'"
              [svgIcon]="'mat_outline:visibility_off'"
            ></mat-icon>
          </button>
          <mat-error> This field is required </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            #confirmPasswordField
          />
          <button
            mat-icon-button
            type="button"
            (click)="
              confirmPasswordField.type === 'password'
                ? (confirmPasswordField.type = 'text')
                : (confirmPasswordField.type = 'password')
            "
            matSuffix
          >
            <mat-icon
              class="icon-size-5"
              *ngIf="confirmPasswordField.type === 'password'"
              [svgIcon]="'mat_outline:visibility'"
            ></mat-icon>
            <mat-icon
              class="icon-size-5"
              *ngIf="confirmPasswordField.type === 'text'"
              [svgIcon]="'mat_outline:visibility_off'"
            ></mat-icon>
          </button>
          <mat-error> This field is required </mat-error>
        </mat-form-field>
        <mat-checkbox class="mt-2">
          I agree to the <a>Terms of Service</a> and <a>Privacy Policy</a>
        </mat-checkbox>
        <button
          class="w-full !mt-6 btn--lg"
          mat-flat-button
          [color]="'primary'"
        >
          Register
          <!-- <mat-progress-spinner mode="indeterminate"> </mat-progress-spinner> -->
        </button>
      </form>
    </div>
  </div>
</div>
