<div
  class="w-full h-full flex flex-col max-w-xl bg-white rounded-md p-6 shadow-sm border border-solid border-gray-200"
>
  <div class="font-medium text-gray-900 text-xl mb-3">
    {{ "TutorInfo.Experience" | translate }}
  </div>
  <form [formGroup]="tutorExperienceForm">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ "TutorInfo.TeachingExperience" | translate }}</mat-label>
      <mat-select
        formControlName="teachingExperience"
        placeholder="{{ 'Action.Select' | translate }}"
      >
        <mat-option
          *ngFor="let item of teachingExperienceOptions"
          [value]="item.value"
        >
          {{ item.translateKey | translate }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          tutorExperienceForm.get('teachingExperience')?.hasError('required')
        "
        >{{ "Error.Required" | translate }}</mat-error
      >
    </mat-form-field>
    <div class="flex flex-col mb-4">
      <div class="text-gray-500 flex gap-1 items-center mb-2">
        {{ "TutorInfo.LanguagesYouSpeak" | translate }}
      </div>
      <div formArrayName="languages" class="flex flex-col gap-3">
        <div
          *ngFor="let language of languagesFormArray.controls; let i = index"
          class="flex items-center flex-wrap md:flex-nowrap gap-x-3 rounded border border-gray-300 border-solid px-3 py-2 bg-white relative shadow-sm"
          [formGroupName]="i"
        >
          <div class="flex-grow">
            <mat-form-field
              appearance="fill"
              class="w-full"
              floatLabel="always"
            >
              <mat-label>
                {{ "TutorInfo.Language" | translate }}
              </mat-label>
              <mat-select
                placeholder="{{ 'Action.Select' | translate }}"
                formControlName="language"
              >
                <mat-option
                  *ngFor="let item of languageOptions"
                  [value]="item.value"
                >
                  {{ item.translateKey | translate }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  languagesFormArray.at(i).get('language')?.hasError('required')
                "
                >{{ "Error.Required" | translate }}</mat-error
              >
            </mat-form-field>
          </div>
          <div class="flex-grow">
            <mat-form-field
              appearance="fill"
              class="w-full"
              floatLabel="always"
            >
              <mat-label>
                {{ "TutorInfo.Fluency" | translate }}
              </mat-label>
              <mat-select
                placeholder="{{ 'Action.Select' | translate }}"
                formControlName="fluency"
              >
                <mat-option
                  *ngFor="let item of fluencyOptions"
                  [value]="item.value"
                >
                  {{ item.translateKey | translate }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  languagesFormArray.at(i).get('fluency')?.hasError('required')
                "
                >{{ "Error.Required" | translate }}</mat-error
              >
            </mat-form-field>
          </div>

          <div
            class="mt-3"
            *ngIf="languagesFormArray.controls.length > 1 && i > 0"
          >
            <button mat-icon-button type="button" (click)="removeLanguage(i)">
              <mat-icon
                class="text-danger"
                svgIcon="mat_outline:clear"
              ></mat-icon>
            </button>
          </div>
        </div>

        <div class="flex justify-end">
          <a class="cursor-pointer" (click)="addLanguage()">
            {{ "TutorInfo.AddLanguage" | translate }}</a
          >
        </div>
      </div>
    </div>

    <div class="flex flex-col mb-4">
      <div class="text-gray-500 flex gap-1 items-center mb-2">
        {{ "TutorInfo.TeachingCertificates" | translate }}
        <span class="text-danger">*</span>
        <span class="text-gray-400 font-normal text-sm"
          >({{
            "FileUpload.OnlyFileTypeAndMaxSize"
              | translate : { fileType: ".pdf", maxSize: "32MB" }
          }})</span
        >
      </div>
      <div class="flex flex-col">
        <div
          class="rounded border border-solid bg-white border-gray-300 p-4 flex flex-col gap-2 items-center justify-center relative shadow-sm"
          [ngClass]="
            isOnDropFilesContainer ? '!border-primary !bg-gray-50' : ''
          "
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event)"
        >
          <mat-icon
            class="icon-size-12 text-hint"
            svgIcon="mat_outline:upload_file"
          ></mat-icon>
          <div class="text-base">
            {{ "FileUpload.DragAndDropHere" | translate }}
          </div>
          <div class="text-gray-400">
            {{ "FileUpload.Or" | translate }}
          </div>
          <button
            type="button"
            mat-flat-button
            [color]="'primary'"
            class="btn--sm"
            (click)="uploadFile.click()"
          >
            {{ "FileUpload.BrowseFiles" | translate }}
          </button>
          <input
            hidden
            multiple
            type="file"
            accept=".pdf"
            #uploadFile
            (change)="onCertificatesSelected($event, uploadFile)"
          />
        </div>
        <div
          class="flex flex-col gap-2 mt-4"
          *ngIf="this.tutorExperienceForm.get('teachingCertificates')?.value"
        >
          <div
            class="bg-white rounded flex gap-4 items-center px-3 py-2 border border-solid border-gray-300 shadow-sm"
            *ngFor="
              let file of this.tutorExperienceForm.get('teachingCertificates')
                ?.value || [];
              let i = index
            "
          >
            <div class="flex flex-col gap-1 overflow-hidden">
              <div
                class="text-gray-600 overflow-hidden text-ellipsis whitespace-nowrap"
              >
                {{ file.name }}
              </div>
              <div class="text-gray-400 text-sm">
                {{ file.size / 1024 | number : "1.2" }} KB
              </div>
            </div>

            <div class="flex-shrink-0 ml-auto">
              <button
                mat-icon-button
                type="button"
                (click)="removeCertificate(i)"
              >
                <mat-icon
                  class="text-danger"
                  svgIcon="mat_outline:clear"
                ></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="text-xs text-danger mt-2"
        *ngIf="
          this.tutorExperienceForm
            .get('teachingCertificates')
            ?.hasError('required') &&
          (this.tutorExperienceForm.get('teachingCertificates')?.touched ||
            this.tutorExperienceForm.get('teachingCertificates')?.dirty)
        "
      >
        {{ "Error.File" | translate }}
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-gray-500">
        {{ "TutorInfo.HaveExperienceTeachingOnline" | translate }}
      </div>
      <mat-radio-group
        formControlName="haveExperienceTeachingOnline"
        class="flex gap-3.5"
      >
        <mat-radio-button [value]="false">{{
          "TutorInfo.No" | translate
        }}</mat-radio-button>
        <mat-radio-button [value]="true">{{
          "TutorInfo.Yes" | translate
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="mt-10 flex justify-between gap-4">
  
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        (click)="submitTutorExperienceForm()"
      >
        {{ "Action.Save" | translate }}
      </button>
    </div>
  </form>
</div>
