<div class="w-full h-full max-w-md">
  <div class="font-medium text-gray-900 text-xl">
    {{ "General" | translate }}
  </div>
  <form class="mt-3" [formGroup]="tutorGeneralForm" (ngSubmit)="submit()">
    <div class="flex flex-col gap-2 mb-2">
      <div class="text-gray-500">Profile picture</div>
      <div
        class="rounded border border-solid bg-white border-gray-300 px-6 py-4 flex flex-col items-center shadow-sm"
      >
        <div class="flex flex-col gap-4 items-center">
          <img
            *ngIf="tutorGeneralForm.get('profilePictureUrl')?.value"
            class="w-16 h-16 rounded-full overflow-hidden"
            [src]="tutorGeneralForm.get('profilePictureUrl')?.value"
            alt=""
          />
          <div
            *ngIf="!tutorGeneralForm.get('profilePictureUrl')?.value"
            class="w-16 h-16 rounded-full overflow-hidden flex justify-center items-center font-medium bg-primary text-white uppercase text-2xl"
          >
            {{ tutorGeneralForm.get("firstName")?.value?.charAt(0) || "H" }}
          </div>

          <div class="flex gap-4 justify-center">
            <!-- Remove image -->
            <button
              *ngIf="tutorGeneralForm.get('profilePictureUrl')?.value"
              type="button"
              class="btn--sm"
              mat-button
              [color]="'primary'"
              (click)="onRemoveProfilePicture()"
            >
              Remove
            </button>

            <button
              type="button"
              class="btn--sm"
              mat-flat-button
              [color]="'primary'"
              (click)="uploadProfilePictureFile.click()"
            >
              {{
                tutorGeneralForm.get("profilePictureUrl")?.value
                  ? ("FileUpload.Change" | translate)
                  : ("FileUpload.BrowseFiles" | translate)
              }}
            </button>
          </div>
        </div>

        <input
          hidden
          type="file"
          accept="image/*"
          #uploadProfilePictureFile
          (change)="
            onProfilePictureFileSelected($event, uploadProfilePictureFile)
          "
        />
      </div>
    </div>
    <mat-form-field appearance="fill" class="w-full mat-form-field--sm">
      <mat-label>{{ "StudentInfo.FirstName" | translate }}</mat-label>
      <input
        matInput
        formControlName="firstName"
        appPreventAutoFill
        #firstName
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        *ngIf="firstName.value != '' && !tutorGeneralForm.disabled"
        (click)="tutorGeneralForm.get('firstName')?.setValue('')"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'mat_outline:close'"
        ></mat-icon>
      </button>
      <mat-error
        *ngIf="tutorGeneralForm.get('firstName')?.hasError('required')"
        >{{ "Errors.Required" | translate }}</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mat-form-field--sm">
      <mat-label>{{ "StudentInfo.LastName" | translate }}</mat-label>
      <input matInput formControlName="lastName" appPreventAutoFill #lastName />
      <button
        mat-icon-button
        type="button"
        matSuffix
        *ngIf="lastName.value != '' && !tutorGeneralForm.disabled"
        (click)="tutorGeneralForm.get('lastName')?.setValue('')"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'mat_outline:close'"
        ></mat-icon>
      </button>
      <mat-error
        *ngIf="tutorGeneralForm.get('lastName')?.hasError('required')"
        >{{ "Errors.Required" | translate }}</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mat-form-field--sm">
      <mat-label>Email</mat-label>
      <input matInput name="email" formControlName="email" #email />
      <mat-error *ngIf="tutorGeneralForm.get('email')?.hasError('required')">
        {{ "Errors.Required" | translate }}
      </mat-error>
      <mat-error *ngIf="tutorGeneralForm.get('email')?.hasError('email')">{{
        "Errors.Email" | translate
      }}</mat-error>
      <mat-error
        *ngIf="tutorGeneralForm.get('email')?.hasError('existingEmail')"
        >{{ "Errors.ExistingEmail" | translate }}</mat-error
      >

      <button
        mat-icon-button
        type="button"
        matSuffix
        *ngIf="
          tutorGeneralForm.get('email')?.status !== 'PENDING' &&
          email.value != '' &&
          !tutorGeneralForm.disabled &&
          !tutorGeneralForm.get('email')?.valid
        "
        (click)="tutorGeneralForm.get('email')?.setValue('')"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'mat_outline:close'"
        ></mat-icon>
      </button>
      <div class="ml-2" matSuffix *ngIf="tutorGeneralForm.get('email')?.valid">
        <mat-icon
          class="!text-success"
          [svgIcon]="'mat_outline:check_circle'"
        ></mat-icon>
      </div>
      <mat-progress-spinner
        [diameter]="24"
        *ngIf="tutorGeneralForm.get('email')?.status === 'PENDING'"
        mode="indeterminate"
        matSuffix
      >
      </mat-progress-spinner>
    </mat-form-field>
    <div class="flex justify-center">
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        [disabled]="tutorGeneralForm.disabled"
      >
        <span *ngIf="!tutorGeneralForm.disabled">
          {{ "Actions.Save" | translate }}
        </span>

        <mat-progress-spinner
          *ngIf="tutorGeneralForm.disabled"
          [diameter]="24"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </button>
    </div>
  </form>
</div>
