<div class="w-full">
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="submit()"
    class="flex flex-col gap-4"
  >
    <div class="bg-surface rounded p-6 pb-2 border border-solid border-light">
      <div class="font-medium text-xl mb-3">
        {{ "ChangePassword.Title" | translate }}
      </div>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{
          "ChangePassword.CurrentPassword" | translate
        }}</mat-label>
        <input
          matInput
          type="password"
          formControlName="currentPassword"
          #currentPasswordField
        />
        <button
          mat-icon-button
          type="button"
          (click)="
            currentPasswordField.type === 'password'
              ? (currentPasswordField.type = 'text')
              : (currentPasswordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            *ngIf="currentPasswordField.type === 'password'"
            [svgIcon]="'mat_outline:visibility'"
          ></mat-icon>
          <mat-icon
            class="icon-size-5"
            *ngIf="currentPasswordField.type === 'text'"
            [svgIcon]="'mat_outline:visibility_off'"
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="
            changePasswordForm.get('currentPassword')?.hasError('required')
          "
        >
          {{ "Error.Required" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "ChangePassword.NewPassword" | translate }}</mat-label>
        <input
          matInput
          type="password"
          formControlName="newPassword"
          #newPasswordField
        />
        <button
          mat-icon-button
          type="button"
          (click)="
            newPasswordField.type === 'password'
              ? (newPasswordField.type = 'text')
              : (newPasswordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            *ngIf="newPasswordField.type === 'password'"
            [svgIcon]="'mat_outline:visibility'"
          ></mat-icon>
          <mat-icon
            class="icon-size-5"
            *ngIf="newPasswordField.type === 'text'"
            [svgIcon]="'mat_outline:visibility_off'"
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
        >
          {{ "Error.Required" | translate }}
        </mat-error>
        <mat-error
          *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')"
        >
          {{
            "Error.MinLength"
              | translate
                : {
                    control: ("ChangePassword.NewPassword" | translate),
                    length: "6"
                  }
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{
          "ChangePassword.ConfirmNewPassword" | translate
        }}</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmNewPassword"
          #confirmNewPasswordField
        />
        <button
          mat-icon-button
          type="button"
          (click)="
            confirmNewPasswordField.type === 'password'
              ? (confirmNewPasswordField.type = 'text')
              : (confirmNewPasswordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            *ngIf="confirmNewPasswordField.type === 'password'"
            [svgIcon]="'mat_outline:visibility'"
          ></mat-icon>
          <mat-icon
            class="icon-size-5"
            *ngIf="confirmNewPasswordField.type === 'text'"
            [svgIcon]="'mat_outline:visibility_off'"
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="
            changePasswordForm.get('confirmNewPassword')?.hasError('required')
          "
        >
          {{ "Error.Required" | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            changePasswordForm.get('confirmNewPassword')?.hasError('mustMatch')
          "
        >
          {{
            "Error.MustMatch"
              | translate
                : {
                    control: ("ChangePassword.NewPassword" | translate),
                    matchingControl:
                      ("ChangePassword.ConfirmNewPassword" | translate)
                  }
          }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        [disabled]="changePasswordForm.disabled"
      >
        <span *ngIf="!changePasswordForm.disabled">
          {{ "Action.ChangePassword" | translate }}
        </span>

        <mat-progress-spinner
          *ngIf="changePasswordForm.disabled"
          [diameter]="24"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </button>
    </div>
  </form>
</div>
