<div
  class="w-full min-h-full flex flex-col gap-4 items-center bg-gray-50 relative"
>
  <div
    class="w-full max-w-7xl p-4 flex flex-col gap-16 items-center justify-start"
  >
    <div class="flex justify-between items-center w-full">
      <div class="font-bold text-gray-900 text-xl">Vietspeak</div>
      <div class="flex items-center gap-2">
        <button class="btn btn--sm" type="button" mat-button (click)="logout()">
          <div class="text-primary">{{ "OnBoarding.Logout" | translate }}</div>
        </button>
      </div>
    </div>

    <div class="w-full max-w-md rounded-md sm:px-12">
      <div
        class="font-semibold text-gray-900 text-2xl text-center mb-12 capitalize"
      >
        {{ "OnBoarding.SelectAccountType" | translate }}
      </div>

      <div class="flex gap-14 justify-center">
        <div
          class="flex flex-col items-center gap-3 cursor-pointer"
          *ngFor="let type of accountTypeList"
          (click)="selectedAccountType = type"
        >
          <div
            class="border-4 rounded-md w-32 h-32 flex justify-center items-center bg-white"
            [ngClass]="selectedAccountType === type ? 'border-primary' : ''"
          >
            <mat-icon
              class="icon-size-16"
              [ngClass]="
                selectedAccountType === type ? 'text-primary' : 'text-gray-400 '
              "
              [svgIcon]="type.icon"
            ></mat-icon>
          </div>

          <div
            class="text-sm font-medium uppercase"
            [ngClass]="
              selectedAccountType === type ? 'text-primary' : 'text-gray-400 '
            "
          >
            {{ type.translateKey | translate }}
          </div>
        </div>
      </div>

      <div class="mt-12 flex justify-center">
        <button
          type="submit"
          class="btn btn--lg w-full"
          mat-flat-button
          [color]="'primary'"
          (click)="continue()"
          [disabled]="selectedAccountType == null"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
