<div
  class="w-full min-h-full flex flex-col gap-4 items-center bg-gray-50 relative"
>
  <div
    class="w-full max-w-7xl p-4 flex flex-col gap-14 items-center justify-start"
  >
    <div class="flex justify-between items-center w-full">
      <div class="font-bold text-gray-900 text-xl">Vietspeak</div>
      <div class="flex items-center gap-2">
        <button
          class="btn--sm"
          type="button"
          mat-button
          [color]="'primary'"
          (click)="onLogout()"
        >
          {{ "OnBoarding.Logout" | translate }}
        </button>
      </div>
    </div>

    <div class="w-full">
      <div class="font-semibold text-gray-700 text-xl text-center mb-14">
        {{ "OnBoarding.SelectAccountType" | translate }}
      </div>

      <div class="flex gap-14 justify-center">
        <div
          class="border rounded p-8 bg-white flex flex-col items-center gap-4 cursor-pointer"
          *ngFor="let type of accountTypeList"
          (click)="onSelectAccountType(type)"
        >
          <mat-icon
            class="text-gray-600 icon-size-14"
            [svgIcon]="type.icon"
          ></mat-icon>
          <div
            class="text-sm font-semibold"
            [ngClass]="type.selected ? 'text-primary' : 'text-gray-500 '"
          >
            {{ type.translateKey | translate }}
          </div>
        </div>
      </div>

      <div class="mt-12 flex justify-center">
        <button
          type="submit"
          class="btn w-48"
          mat-flat-button
          [color]="'primary'"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
