<div
  class="w-full min-h-full flex flex-col gap-6 items-center bg-gray-50 relative pb-20 px-4"
>
  <div class="w-full max-w-7xl flex flex-col gap-6 items-center justify-start">
    <div class="flex justify-between items-center gap-4 w-full py-4 h-16">
      <button
        mat-button
        class="btn btn"
        type="button"
        routerLink="/onboarding/account-type"
      >
        <div class="flex items-center gap-1">
          <mat-icon
            class="!text-gray-500"
            svgIcon="mat_outline:arrow_back"
          ></mat-icon>
          <div class="text-gray-500">
            {{ "OnBoarding.Back" | translate }}
          </div>
        </div>
      </button>

      <button mat-button class="btn" type="button" (click)="logout()">
        <div class="text-primary">
          {{ "OnBoarding.Logout" | translate }}
        </div>
      </button>
    </div>

    <div class="w-full max-w-lg">
      <div class="font-semibold text-gray-900 text-2xl text-center mb-4">
        {{ "TutorInfo.Title" | translate }}
      </div>

      <mat-stepper
        #stepper
        orientation="horizontal"
        class="!bg-inherit"
        [disableRipple]="true"
        labelPosition="bottom"
        [linear]="true"
        animationDuration="0"
      >
        <ng-template matStepperIcon="edit">
          <mat-icon class="text-white" svgIcon="mat_outline:edit"></mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon class="text-white" svgIcon="mat_outline:done"></mat-icon>
        </ng-template>
        <mat-step [editable]="true" [stepControl]="tutorBasicInfoForm">
          <ng-template matStepLabel>{{
            "TutorInfo.BasicInfo" | translate
          }}</ng-template>
          <ng-template matStepContent>
            <div class="flex justify-center -mx-6 sm:px-6">
              <div class="w-full mt-4">
                <form [formGroup]="tutorBasicInfoForm">
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorInfo.LanguageWantToTeach" | translate
                    }}</mat-label>
                    <mat-select
                      formControlName="teachingLanguage"
                      placeholder="Select"
                    >
                      <mat-option
                        *ngFor="let item of teachingLanguageOptions"
                        [value]="item.value"
                      >
                        {{ item.label | translate }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        tutorBasicInfoForm
                          .get('teachingLanguage')
                          ?.hasError('required')
                      "
                      >{{ "Errors.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorInfo.FirstName" | translate
                    }}</mat-label>
                    <input matInput formControlName="firstName" />
                    <mat-error
                      *ngIf="
                        tutorBasicInfoForm
                          .get('firstName')
                          ?.hasError('required')
                      "
                      >{{ "Errors.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{
                      "TutorInfo.LastName" | translate
                    }}</mat-label>
                    <input matInput formControlName="lastName" />
                    <mat-error
                      *ngIf="
                        tutorBasicInfoForm.get('lastName')?.hasError('required')
                      "
                      >{{ "Errors.Required" | translate }}</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field
                    appearance="fill"
                    floatLabel="always"
                    class="w-full"
                    (click)="picker.open()"
                  >
                    <mat-label>{{
                      "TutorInfo.DateOfBirth" | translate
                    }}</mat-label>
                    <input
                      readonly
                      matInput
                      formControlName="dob"
                      [matDatepicker]="picker"
                      placeholder="DD/MM/YYYY"
                    />
                    <mat-hint>{{
                      "TutorInfo.DateOfBirthNotDisplay" | translate
                    }}</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div class="mt-4 flex justify-center">
                    <button
                      type="submit"
                      class="btn btn--lg w-full"
                      mat-flat-button
                      [color]="'primary'"
                      (click)="submitTutorBasicInfoForm()"
                    >
                      {{ "TutorInfo.Next" | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </mat-step>
        <mat-step [editable]="true" [stepControl]="tutorExperienceForm">
          <ng-template matStepLabel>{{
            "TutorInfo.Experience" | translate
          }}</ng-template>
          <div class="flex justify-center -mx-6 sm:px-6">
            <div class="w-full mt-4">
              <form [formGroup]="tutorExperienceForm"></form>
            </div>
          </div>
        </mat-step>
        <mat-step [editable]="true" [stepControl]="tutorAdditionalInfoForm">
          <ng-template matStepLabel>{{
            "TutorInfo.AdditionalInfo" | translate
          }}</ng-template>
          <div class="flex justify-center -mx-6 sm:px-6">
            <div class="w-full mt-4">
              <form [formGroup]="tutorAdditionalInfoForm">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>{{
                    "OnBoarding.WhereHeardFrom" | translate
                  }}</mat-label>
                  <mat-select formControlName="heardFrom" placeholder="Select">
                    <mat-option
                      *ngFor="let item of heardFromOptions"
                      [value]="item.value"
                    >
                      {{ item.label | translate }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      tutorAdditionalInfoForm
                        .get('heardForm')
                        ?.hasError('required')
                    "
                    >{{ "Errors.Required" | translate }}</mat-error
                  >
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>{{
                    "TutorInfo.ReasonHere" | translate
                  }}</mat-label>
                  <textarea
                    matInput
                    formControlName="reasonHere"
                    maxlength="500"
                    rows="5"
                  ></textarea>
                  <mat-hint class="w-full">
                    <div class="text-right -mr-3">500 characters remaining</div>
                  </mat-hint>
                  <mat-error
                    *ngIf="
                      tutorBasicInfoForm.get('reasonHere')?.hasError('required')
                    "
                    >{{ "Errors.Required" | translate }}</mat-error
                  >
                </mat-form-field>

                <div class="mt-4 flex justify-between gap-4">
                  <button class="btn btn--lg" mat-button matStepperPrevious>
                    {{ "OnBoarding.Back" | translate }}
                  </button>
                  <button
                    type="submit"
                    class="btn btn--lg !px-6"
                    mat-flat-button
                    [color]="'primary'"
                  >
                    {{ "TutorInfo.Complete" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
