<div
  class="flex px-4 h-14"
>
  <div class="flex justify-center items-center gap-2 pl-2">
    <div class="block md:hidden">
      <button mat-icon-button type="button" (click)="toggleNavigation()">
        <mat-icon
          svgIcon="mat_outline:menu"
          class="icon-size-6 icon"
        ></mat-icon>
      </button>
    </div>

    <a
      class="font-semibold text-current text-lg hover:no-underline cursor-pointer select-none hidden md:block"
      routerLink="admin"
      >Vietspeak</a
    >
  </div>

  <div class="ml-auto flex items-center gap-2">
    <languages></languages>
    <user></user>
  </div>
</div>
