<div
  class="w-full min-h-full flex flex-col gap-6 items-center bg-gray-100 relative px-4 pb-20"
>
  <div class="w-full max-w-7xl flex flex-col gap-6 items-center justify-start">
    <div class="flex justify-between items-center gap-4 w-full py-4 h-16">
      <button
        mat-button
        type="button"
        routerLink="/onboarding/account-type"
      >
        <div class="flex items-center gap-1">
          <mat-icon
            class="!text-gray-500"
            svgIcon="mat_outline:arrow_back"
          ></mat-icon>
          <div class="text-gray-500">
            {{ "Action.Back" | translate }}
          </div>
        </div>
      </button>

      <button mat-button type="button" (click)="logout()">
        <div class="text-primary">
          {{ "OnBoarding.Logout" | translate }}
        </div>
      </button>
    </div>

    <div class="w-full max-w-xl sm:px-6">
      <div class="font-medium text-gray-900 text-2xl text-center">
        {{ "StudentInfo.Title" | translate }}
      </div>
      <form class="mt-8" [formGroup]="studentInfoForm" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{
            "StudentInfo.LanguageWantToLearn" | translate
          }}</mat-label>
          <mat-select
            formControlName="learningLanguage"
            placeholder="{{ 'Action.Select' | translate }}"
          >
            <mat-select-trigger>
              <div class="flex gap-3 items-center">
                <div class="w-6 overflow-hidden">
                  <img
                    class="w-full object-cover"
                    [src]="
                      this.studentInfoForm.get('learningLanguage')?.value.imgUrl
                    "
                    [attr.alt]="
                      this.studentInfoForm.get('learningLanguage')?.value.label
                    "
                  />
                </div>

                <div>
                  {{
                    this.studentInfoForm.get("learningLanguage")?.value.label
                  }}
                </div>
              </div>
            </mat-select-trigger>
            <mat-option
              *ngFor="let item of learningLanguageOptions"
              [value]="item"
            >
              <div class="flex gap-3 items-center">
                <div class="w-6 overflow-hidden">
                  <img
                    class="w-full object-cover"
                    [src]="item.imgUrl"
                    [attr.alt]="item?.label"
                  />
                </div>

                <div>{{ item.label }}</div>
              </div>
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              studentInfoForm.get('learningLanguage')?.hasError('required')
            "
            >{{ "Error.Required" | translate }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ "StudentInfo.Level" | translate }}</mat-label>
          <mat-select
            formControlName="currentLevel"
            placeholder="{{ 'Action.Select' | translate }}"
          >
            <mat-option
              *ngFor="let item of languageLevelOptions"
              [value]="item.value"
            >
              {{ item.translateKey | translate }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="studentInfoForm.get('occupation')?.hasError('required')"
            >{{ "Error.Required" | translate }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ "StudentInfo.FirstName" | translate }}</mat-label>
          <input
            matInput
            formControlName="firstName"
            appPreventAutoFill
            #firstName
          />
          <button
            mat-icon-button
            type="button"
            matSuffix
            *ngIf="firstName.value != '' && !studentInfoForm.disabled"
            (click)="studentInfoForm.get('firstName')?.setValue('')"
          >
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'mat_outline:close'"
            ></mat-icon>
          </button>
          <mat-error
            *ngIf="studentInfoForm.get('firstName')?.hasError('required')"
            >{{ "Error.Required" | translate }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ "StudentInfo.LastName" | translate }}</mat-label>
          <input
            matInput
            formControlName="lastName"
            appPreventAutoFill
            #lastName
          />
          <button
            mat-icon-button
            type="button"
            matSuffix
            *ngIf="lastName.value != '' && !studentInfoForm.disabled"
            (click)="studentInfoForm.get('lastName')?.setValue('')"
          >
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'mat_outline:close'"
            ></mat-icon>
          </button>
          <mat-error
            *ngIf="studentInfoForm.get('lastName')?.hasError('required')"
            >{{ "Error.Required" | translate }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full" floatLabel="always">
          <mat-label>{{ "OnBoarding.WhereHeardFrom" | translate }}</mat-label>
          <mat-select
            formControlName="heardFrom"
            placeholder="{{ 'Action.Select' | translate }}"
          >
            <mat-option
              *ngFor="let item of heardFromOptions"
              [value]="item.value"
            >
              {{ item.translateKey | translate }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="studentInfoForm.get('occupation')?.hasError('required')"
            >{{ "Error.Required" | translate }}</mat-error
          >
        </mat-form-field>
        <div class="mt-4 flex justify-center">
          <button
            type="submit"
            class="btn--lg w-full"
            mat-flat-button
            [color]="'primary'"
            [disabled]="studentInfoForm.disabled"
          >
            <span *ngIf="!studentInfoForm.disabled">
              {{ "Action.Continue" | translate }}
            </span>

            <mat-progress-spinner
              *ngIf="studentInfoForm.disabled"
              [diameter]="24"
              mode="indeterminate"
            >
            </mat-progress-spinner>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
