<div class="w-full">
  <form [formGroup]="tutorProfileForm" class="flex flex-col gap-4">
    <div
      class="w-full flex flex-col bg-surface rounded p-6 border-2 border-solid border-light"
    >
      <div class="font-medium text-xl mb-3">
        {{ "TutorProfile.Basic" | translate }}
      </div>

      <div class="mb-4">
        <div class="flex gap-5 items-center">
          <img
            *ngIf="tutorProfileForm.get('profilePictureUrl')?.value"
            class="w-20 h-20 rounded-full overflow-hidden"
            [src]="tutorProfileForm.get('profilePictureUrl')?.value"
            alt=""
          />
          <div
            *ngIf="!tutorProfileForm.get('profilePictureUrl')?.value"
            class="w-20 h-20 rounded-full overflow-hidden flex justify-center items-center font-medium bg-primary text-white uppercase text-2xl"
          >
            {{ tutorProfileForm.get("firstName")?.value?.charAt(0) || "H" }}
          </div>

          <div class="flex gap-2 justify-center">
            <!-- Change image -->
            <button
              type="button"
              mat-flat-button
              [color]="'primary'"
              class="btn--sm"
              (click)="uploadProfilePictureFile.click()"
            >
              {{
                tutorProfileForm.get("profilePictureUrl")?.value
                  ? ("FileUpload.Change" | translate)
                  : ("FileUpload.AddAPhoto" | translate)
              }}
            </button>
            <!-- Remove image -->
            <button
              *ngIf="tutorProfileForm.get('profilePictureUrl')?.value"
              type="button"
              mat-button
              [color]="'primary'"
              class="btn--sm"
              (click)="onRemoveProfilePicture()"
            >
              {{ "Action.Remove" | translate }}
            </button>
          </div>
        </div>

        <input
          hidden
          type="file"
          accept="image/*"
          #uploadProfilePictureFile
          (change)="
            onProfilePictureFileSelected($event, uploadProfilePictureFile)
          "
        />
      </div>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "TutorProfile.FirstName" | translate }}</mat-label>
        <input
          matInput
          formControlName="firstName"
          appPreventAutoFill
          #firstName
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="firstName.value != ''"
          (click)="tutorProfileForm.get('firstName')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="tutorProfileForm.get('firstName')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "TutorProfile.LastName" | translate }}</mat-label>
        <input
          matInput
          formControlName="lastName"
          appPreventAutoFill
          #lastName
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="lastName.value != ''"
          (click)="tutorProfileForm.get('firstName')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="tutorProfileForm.get('lastName')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        floatLabel="always"
        class="w-full"
        (click)="picker.open()"
      >
        <mat-label>{{ "TutorProfile.DateOfBirth" | translate }}</mat-label>
        <input
          readonly
          matInput
          formControlName="dob"
          [matDatepicker]="picker"
          [max]="maxDate"
          placeholder="DD/MM/YYYY"
        />
        <mat-error *ngIf="tutorProfileForm.get('dob')?.hasError('required')">{{
          "Error.Required" | translate
        }}</mat-error>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" #email />
        <mat-error *ngIf="tutorProfileForm.get('email')?.hasError('required')">
          {{ "Error.Required" | translate }}
        </mat-error>
        <mat-error *ngIf="tutorProfileForm.get('email')?.hasError('email')">{{
          "Error.Email" | translate
        }}</mat-error>
        <mat-error
          *ngIf="tutorProfileForm.get('email')?.hasError('existingEmail')"
          >{{ "Error.ExistingEmail" | translate }}</mat-error
        >

        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="
            tutorProfileForm.get('email')?.status !== 'PENDING' &&
            email.value != '' &&
            !tutorProfileForm.disabled &&
            !tutorProfileForm.get('email')?.valid
          "
          (click)="tutorProfileForm.get('email')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
        <div
          class="ml-2 flex items-center justify-center"
          matSuffix
          *ngIf="tutorProfileForm.get('email')?.valid"
        >
          <mat-icon
            [svgIcon]="'mat_outline:check'"
          ></mat-icon>
        </div>
        <mat-progress-spinner
          [diameter]="24"
          *ngIf="tutorProfileForm.get('email')?.status === 'PENDING'"
          mode="indeterminate"
          matSuffix
        >
        </mat-progress-spinner>
      </mat-form-field>
    </div>
    <div
      class="w-full flex flex-col bg-surface rounded p-6 pb-2 border-2 border-solid border-light"
    >
      <div class="font-medium text-xl mb-3">
        {{ "TutorProfile.Introduction" | translate }}
      </div>
      <mat-form-field appearance="fill" class="w-full" floatLabel="always">
        <mat-label>{{ "TutorProfile.Introduction" | translate }}</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          formControlName="introduction"
          placeholder=""
          maxlength="1000"
          appPreventAutoFill
        ></textarea>
        <mat-hint class="w-full">
          <div class="text-right -mr-3">
            {{ tutorProfileForm.get("introduction")?.value.length || 0 }}/1000
          </div>
        </mat-hint>
        <mat-error
          *ngIf="tutorProfileForm.get('introduction')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full" floatLabel="always">
        <mat-label>{{ "TutorProfile.VideoUrl" | translate }}</mat-label>
        <input
          matInput
          formControlName="videoIntroduction"
          placeholder="https://www.youtube.com/your-video-url"
          appPreventAutoFill
          #videoIntroduction
        />
        <button matPrefix type="button">
          <mat-icon [svgIcon]="'mat_outline:link'"> </mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          matSuffix
          *ngIf="videoIntroduction.value != ''"
          (click)="tutorProfileForm.get('videoIntroduction')?.setValue('')"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_outline:close'"
          ></mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div
      class="w-full flex flex-col bg-surface rounded p-6 pb-2 border-2 border-solid border-light"
    >
      <div class="font-medium text-xl mb-3">
        {{ "TutorProfile.Teaching" | translate }}
      </div>
      <mat-form-field appearance="fill" class="w-full" floatLabel="always">
        <mat-label>{{ "TutorProfile.LanguageWantToTeach" | translate }}</mat-label>
        <mat-select
          formControlName="teachingLanguage"
          placeholder="{{ 'Action.Select' | translate }}"
        >
          <mat-select-trigger>
            <div class="flex gap-3 items-center">
              <div class="w-6 overflow-hidden">
                <img
                  class="w-full object-cover"
                  [src]="
                    this.tutorProfileForm.get('teachingLanguage')?.value?.imgUrl
                  "
                  [attr.alt]="
                    this.tutorProfileForm.get('teachingLanguage')?.value?.label
                  "
                />
              </div>

              <div>
                {{
                  this.tutorProfileForm.get("teachingLanguage")?.value?.label
                }}
              </div>
            </div>
          </mat-select-trigger>
          <mat-option
            *ngFor="let item of teachingLanguageOptions"
            [value]="item"
          >
            <div class="flex gap-3 items-center">
              <div class="w-6 overflow-hidden">
                <img
                  class="w-full object-cover"
                  [src]="item.imgUrl"
                  [attr.alt]="item?.label"
                />
              </div>

              <div>{{ item.label }}</div>
            </div>
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="tutorProfileForm.get('teachingLanguage')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full" floatLabel="always">
        <mat-label>{{ "TutorProfile.WhatYouTeach" | translate }}</mat-label>
        <mat-chip-list #chipTeachingJobList>
          <mat-chip
            [disableRipple]="true"
            *ngFor="
              let job of this.tutorProfileForm.get('teachingJob')?.value || []
            "
            (removed)="remove(job)"
          >
            {{ job }}
            <button matChipRemove>
              <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="{{ 'TutorProfile.TeachingJobDescription' | translate }}"
            [matChipInputFor]="chipTeachingJobList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
            #teachingJobInput
            (blur)="teachingJobInput.value = ''"
          />
        </mat-chip-list>
        <mat-hint>{{ "Action.PressEnterToAdd" | translate }}</mat-hint>
        <mat-error
          *ngIf="tutorProfileForm.get('teachingJob')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
    </div>
    <div
      class="w-full flex flex-col bg-surface rounded p-6 pb-2 border-2 border-solid border-light"
    >
      <div class="font-medium text-xl mb-3">
        {{ "TutorProfile.Experience" | translate }}
      </div>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "TutorProfile.TeachingExperience" | translate }}</mat-label>
        <mat-select
          formControlName="teachingExperience"
          placeholder="{{ 'Action.Select' | translate }}"
        >
          <mat-option
            *ngFor="let item of teachingExperienceOptions"
            [value]="item.value"
          >
            {{ item.translateKey | translate }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            tutorProfileForm.get('teachingExperience')?.hasError('required')
          "
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
      <div class="flex flex-col mb-4">
        <div class="text-tertiary flex gap-1 items-center mb-2">
          {{ "TutorProfile.LanguagesYouSpeak" | translate }}
        </div>
        <div formArrayName="languages" class="flex flex-col gap-3">
          <div
            *ngFor="let language of languagesFormArray.controls; let i = index"
            class="flex items-center flex-wrap md:flex-nowrap gap-x-3 rounded border-2 border-light border-solid px-3 py-2 relative"
            [formGroupName]="i"
          >
            <div class="flex-grow">
              <mat-form-field
                appearance="fill"
                class="w-full"
                floatLabel="always"
              >
                <mat-label>
                  {{ "TutorProfile.Language" | translate }}
                </mat-label>
                <mat-select
                  placeholder="{{ 'Action.Select' | translate }}"
                  formControlName="language"
                >
                  <mat-option
                    *ngFor="let item of languageOptions"
                    [value]="item.value"
                  >
                    {{ item.translateKey | translate }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    languagesFormArray
                      .at(i)
                      .get('language')
                      ?.hasError('required')
                  "
                  >{{ "Error.Required" | translate }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="flex-grow">
              <mat-form-field
                appearance="fill"
                class="w-full"
                floatLabel="always"
              >
                <mat-label>
                  {{ "TutorProfile.Fluency" | translate }}
                </mat-label>
                <mat-select
                  placeholder="{{ 'Action.Select' | translate }}"
                  formControlName="fluency"
                >
                  <mat-option
                    *ngFor="let item of fluencyOptions"
                    [value]="item.value"
                  >
                    {{ item.translateKey | translate }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    languagesFormArray
                      .at(i)
                      .get('fluency')
                      ?.hasError('required')
                  "
                  >{{ "Error.Required" | translate }}</mat-error
                >
              </mat-form-field>
            </div>

            <div
              class="mt-3"
              *ngIf="languagesFormArray.controls.length > 1 && i > 0"
            >
              <button mat-icon-button type="button" (click)="removeLanguage(i)">
                <mat-icon
                  class="text-danger"
                  svgIcon="mat_outline:clear"
                ></mat-icon>
              </button>
            </div>
          </div>

          <div class="flex justify-end">
            <a class="cursor-pointer" (click)="addLanguage()">
              {{ "TutorProfile.AddLanguage" | translate }}</a
            >
          </div>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <div class="text-tertiary flex gap-1 items-center mb-2">
          {{ "TutorProfile.TeachingCertificates" | translate }}
          <span class="text-danger">*</span>
          <span class="text-gray-400 font-normal text-sm"
            >({{
              "FileUpload.OnlyFileTypeAndMaxSize"
                | translate : { fileType: ".pdf", maxSize: "32MB" }
            }})</span
          >
        </div>
        <div class="flex flex-col">
          <div
            class="rounded border-2 border-solid bg-surface border-light p-4 flex flex-col gap-2 items-center justify-center relative"
            [ngClass]="
              isOnDropFilesContainer ? '!border-primary !bg-gray-50' : ''
            "
            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
          >
            <mat-icon
              class="icon-size-12 text-hint"
              svgIcon="mat_outline:upload_file"
            ></mat-icon>
            <div class="text-base">
              {{ "FileUpload.DragAndDropHere" | translate }}
            </div>
            <div class="text-gray-400">
              {{ "FileUpload.Or" | translate }}
            </div>
            <button
              type="button"
              mat-flat-button
              class="btn--sm"
              [color]="'primary'"
              (click)="uploadFile.click()"
            >
              {{ "FileUpload.BrowseFiles" | translate }}
            </button>
            <input
              hidden
              multiple
              type="file"
              accept=".pdf"
              #uploadFile
              (change)="onCertificatesSelected($event, uploadFile)"
            />
          </div>
          <div
            class="flex flex-col gap-2 mt-4"
            *ngIf="this.tutorProfileForm.get('teachingCertificates')?.value"
          >
            <div
              class="bg-surface rounded flex gap-4 items-center px-3 py-2 border-2 border-solid border-light shadow-sm"
              *ngFor="
                let file of this.tutorProfileForm.get('teachingCertificates')
                  ?.value || [];
                let i = index
              "
            >
              <div class="flex flex-col gap-1 overflow-hidden">
                <div
                  class="text-gray-600 overflow-hidden text-ellipsis whitespace-nowrap"
                >
                  {{ file.name }}
                </div>
                <div class="text-gray-400 text-sm">
                  {{ file.size / 1024 | number : "1.2" }} KB
                </div>
              </div>

              <div class="flex-shrink-0 ml-auto">
                <button
                  mat-icon-button
                  type="button"
                  (click)="removeCertificate(i)"
                >
                  <mat-icon
                    class="text-danger"
                    svgIcon="mat_outline:clear"
                  ></mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="text-xs text-danger mt-2"
          *ngIf="
            this.tutorProfileForm
              .get('teachingCertificates')
              ?.hasError('required') &&
            (this.tutorProfileForm.get('teachingCertificates')?.touched ||
              this.tutorProfileForm.get('teachingCertificates')?.dirty)
          "
        >
          {{ "Error.File" | translate }}
        </div>
      </div>
    </div>
    <div
      class="w-full flex flex-col bg-surface rounded p-6 pb-2 border-2 border-solid border-light"
    >
      <div class="font-medium text-xl mb-3">
        {{ "TutorProfile.Motivation" | translate }}
      </div>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "TutorProfile.ReasonHere" | translate }}</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          formControlName="reasonHere"
          maxlength="500"
          appPreventAutoFill
        ></textarea>
        <mat-hint class="w-full">
          <div class="text-right -mr-3">
            {{ tutorProfileForm.get("reasonHere")?.value.length || 0 }}/500
          </div>
        </mat-hint>
        <mat-error
          *ngIf="tutorProfileForm.get('reasonHere')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ "OnBoarding.WhereHeardFrom" | translate }}</mat-label>
        <mat-select
          formControlName="heardFrom"
          placeholder="{{ 'Action.Select' | translate }}"
        >
          <mat-option
            *ngFor="let item of heardFromOptions"
            [value]="item.value"
          >
            {{ item.translateKey | translate }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="tutorProfileForm.get('heardForm')?.hasError('required')"
          >{{ "Error.Required" | translate }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="flex justify-center">
      <button
        type="submit"
        class="btn--lg w-full"
        mat-flat-button
        [color]="'primary'"
        (click)="submit()"
      >
        {{ "Action.Save" | translate }}
      </button>
    </div>
  </form>
</div>
