:host {
  display: block;
  background-color: transparent;
  background-image: none;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 350px;
  color: #ffffff;
  pointer-events: all;
}
