<div class="dialog">
  <div class="dialog__close">
    <button mat-icon-button [matDialogClose]="undefined">
      <mat-icon
        class="text-secondary"
        [svgIcon]="'mat_outline:close'"
      ></mat-icon>
    </button>
  </div>
  <!-- Header -->
  <div class="dialog__header">
    <div class="text-xl font-medium">{{ "User.UserProfile" | translate }}</div>
  </div>

  <!-- Body -->
  <div class="dialog__body">
    <ng-container *ngIf="userProfile?.userType === userType.Tutor">
      <div class="flex flex-col gap-4">
        <div class="flex justify-between gap-4 items-center">
          <div class="flex items-center gap-4 items-center">
            <img
              *ngIf="userProfile?.avatar"
              class="w-20 h-20 rounded-full overflow-hidden"
              [src]="userProfile?.avatar"
              alt=""
            />
            <div
              *ngIf="!userProfile?.avatar"
              class="w-20 h-20 rounded-full overflow-hidden flex justify-center items-center font-medium bg-accent text-white uppercase text-2xl"
            >
              {{ userProfile?.firstName?.charAt(0) || "" }}
            </div>
            <div class="flex flex-col">
              <div class="flex items-center gap-2">
                <div class="font-medium text-accent">
                  {{
                    userProfile?.firstName
                      ? userProfile?.firstName + " " + userProfile?.lastName
                      : ""
                  }}
                </div>
                <div
                  class="rounded px-2 py-1 text-sm font-medium text-white"
                  [ngClass]="getStatus(userProfile.status).class"
                >
                  {{ getStatus(userProfile.status).label }}
                </div>
              </div>
              <div class="text-tertiary">{{ userProfile?.userType }}</div>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <a
              class="cursor-default flex"
              [matTooltip]="'Action.SendEmail' | translate"
              matTooltipPosition="left"
              href="mailto:{{ userProfile?.email }}"
            >
              <mat-icon class="icon" [svgIcon]="'mat_outline:email'"></mat-icon>
            </a>
          </div>
        </div>

        <div class="flex items-center gap-4">
          <div class="font-medium">Email:</div>
          <div class="text-tertiary">{{ userProfile?.email }}</div>
        </div>
        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "TutorProfile.DateOfBirth" | translate }}:
          </div>
          <div class="text-tertiary">
            {{ userProfile?.tutorProfile?.dob | date : "dd/MM/YYYY" }}
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "TutorProfile.LanguagesITeach" | translate }}:
          </div>
          <div class="flex flex-wrap gap-3">
            <div
              class="border border-rounded border-light rounded-full px-4 py-1 text-accent bg-hover"
            >
              {{ userProfile?.tutorProfile?.teachingLanguage }}
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "TutorProfile.LanguagesIKnow" | translate }}:
          </div>
          <div class="flex flex-wrap gap-3">
            <div
              *ngFor="let item of userProfile?.tutorProfile?.languages"
              class="border border-rounded border-light rounded-full px-4 py-1 text-accent bg-hover"
            >
              {{ item?.language }} - {{ item?.fluency }}
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "TutorProfile.ITeach" | translate }}:
          </div>
          <div class="flex flex-wrap gap-3">
            <div
              *ngFor="let item of userProfile?.tutorProfile?.teachingJobs"
              class="border border-rounded border-light rounded-full px-4 py-1 text-accent bg-hover"
            >
              {{ item }}
            </div>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "TutorProfile.Experience" | translate }}:
          </div>
          <div class="text-tertiary">
            {{
              getTeachingExperienceLabel(
                userProfile?.tutorProfile?.teachingExperience
              ) || "" | translate
            }}
          </div>
        </div>
        <div class="border-0 border-t border-solid border-light my-3"></div>
        <div class="flex flex-col gap-2">
          <div class="font-medium text-lg">
            {{ "TutorProfile.Introduction" | translate }}
          </div>
          <p class="text-secondary leading-loose">
            {{ userProfile?.tutorProfile?.introduction }}
          </p>
          <iframe
            *ngIf="userProfile?.tutorProfile?.videoIntroduction"
            class="mt-4 w-full"
            height="350"
            [src]="
              userProfile?.tutorProfile?.videoIntroduction.replace(
                'watch?v=',
                'embed/'
              ) | safe : 'resourceUrl'
            "
          >
          </iframe>
        </div>
        <div class="border-0 border-t border-solid border-light my-3"></div>
        <div class="flex flex-col gap-2">
          <div class="font-medium text-lg">
            {{ "TutorProfile.Certificates" | translate }}
          </div>
          <div class="flex flex-col gap-2">
            <a
              *ngFor="
                let item of userProfile?.tutorProfile?.teachingCertificates
              "
              class="text-accent cursor-default"
              [href]="item.url"
              target="_blank"
              >{{ item.originalname }}</a
            >
          </div>
        </div>
        <div class="border-0 border-t border-solid border-light my-3"></div>
        <div class="flex flex-col gap-3">
          <div class="font-medium text-lg">
            {{ "TutorProfile.Motivation" | translate }}
          </div>
          <div class="flex flex-col gap-1">
            <div class="text-accent">
              {{ "TutorProfile.ReasonHere" | translate }}
            </div>
            <p class="text-secondary leading-loose">
              {{ userProfile?.tutorProfile?.reasonHere }}
            </p>
          </div>
          <div class="flex flex-col gap-1">
            <div class="text-accent">
              {{ "OnBoarding.WhereHeardFrom" | translate }}
            </div>
            <p class="text-secondary leading-relaxed">
              {{
                getHeardFromLabel(userProfile?.tutorProfile?.heardFrom) || ""
                  | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="userProfile?.userType === userType.Student">
      <div class="flex flex-col gap-4 w-full">
        <div class="flex justify-between gap-4 items-center">
          <div class="flex items-center gap-4 items-center">
            <img
              *ngIf="userProfile?.avatar"
              class="w-20 h-20 rounded-full overflow-hidden"
              [src]="userProfile?.avatar"
              alt=""
            />
            <div
              *ngIf="!userProfile?.avatar"
              class="w-20 h-20 rounded-full overflow-hidden flex justify-center items-center font-medium bg-primary text-white uppercase text-2xl"
            >
              {{ userProfile?.firstName?.charAt(0) || "" }}
            </div>
            <div class="flex flex-col">
              <div class="flex items-center gap-2">
                <div class="font-medium text-primary">
                  {{
                    userProfile?.firstName
                      ? userProfile?.firstName + " " + userProfile?.lastName
                      : ""
                  }}
                </div>
                <div
                  class="rounded px-2 py-1 text-sm font-medium text-white"
                  [ngClass]="getStatus(userProfile.status).class"
                >
                  {{ getStatus(userProfile.status).label }}
                </div>
              </div>
              <div class="text-tertiary">{{ userProfile?.userType }}</div>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <a
              class="cursor-default flex"
              [matTooltip]="'Action.SendEmail' | translate"
              matTooltipPosition="left"
              href="mailto:{{ userProfile?.email }}"
            >
              <mat-icon class="icon" [svgIcon]="'mat_outline:email'"></mat-icon>
            </a>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="font-medium">Email:</div>
          <div class="text-tertiary">{{ userProfile?.email }}</div>
        </div>

        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "StudentProfile.LearningLanguage" | translate }}:
          </div>
          <div class="flex flex-wrap gap-3">
            <div
              class="border border-rounded border-light rounded-full px-4 py-1 text-primary bg-hover"
            >
              {{ userProfile?.studentProfile?.learningLanguage }}
            </div>
          </div>
        </div>

        <div class="flex items-center gap-4">
          <div class="font-medium">
            {{ "StudentProfile.Level" | translate }}:
          </div>
          <div class="flex flex-wrap gap-3">
            <div
              class="border border-rounded border-light rounded-full px-4 py-1 text-primary bg-hover"
            >
              {{ userProfile?.studentProfile?.currentLevel }}
            </div>
          </div>
        </div>

        <div class="border-0 border-t border-solid border-light my-3"></div>
        <div class="flex flex-col gap-3">
          <div class="font-medium text-lg">
            {{ "StudentProfile.SupplementalInfo" | translate }}
          </div>

          <div class="flex flex-col gap-1">
            <div class="text-primary">
              {{ "OnBoarding.WhereHeardFrom" | translate }}
            </div>
            <p class="text-secondary leading-relaxed">
              {{
                getHeardFromLabel(userProfile?.studentProfile?.heardFrom) || ""
                  | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="flex justify-center items-center p-6" *ngIf="!userProfile">
      <mat-progress-spinner [diameter]="36" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>

  <!-- Footer -->
  <div class="dialog__footer">
    <div class="w-full flex justify-end">
      <button
        type="button"
        mat-button
        color="primary"
        class="btn--sm"
        [autoFocus]="true"
        [matDialogClose]="undefined"
      >
        {{ "Action.Close" | translate }}
      </button>
    </div>
  </div>
</div>
