<div class="w-full min-h-full flex flex-col items-center bg-gray-100">
  <div
    class="w-full max-w-7xl px-4 flex flex-col gap-14 items-center justify-start pb-12 pt-4"
  >
    <div class="flex justify-between items-center w-full">
      <div class="font-bold text-gray-900 text-xl">Vietspeak</div>
      <div class="flex items-center gap-2">
        <div class="text-gray-400">Already have an account?</div>
        <button
          class="btn--sm"
          mat-flat-button
          [color]="'primary'"
          routerLink="/login"
        >
          Login
        </button>
      </div>
    </div>
    <div
      class="w-full max-w-md rounded-md sm:shadow sm:px-12 sm:py-12 sm:bg-white"
    >
      <div class="font-semibold text-gray-900 text-2xl mb-1">
        Forgot password
      </div>
      <div class="text-secondary">Fill the form to reset your password</div>

      <form class="mt-8" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <button
          class="w-full !mt-2 btn--lg"
          mat-flat-button
          [color]="'primary'"
        >
          Reset password
        </button>
        <div class="text-hint mt-6 text-center">
          Back to <a routerLink="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
