<div
  class="w-full min-h-full flex flex-col items-center py-20 px-4 bg-gray-100"
>
  <div
    class="w-full max-w-md min-h-[500px] rounded-md sm:shadow-base sm:bg-white sm:px-9 sm:py-12"
  >
    <div class="mb-4 flex">
      <button type="button" class="text-gray-400" (click)="back()">
        <mat-icon
          class="icon-size-7"
          [svgIcon]="'mat_outline:arrow_back'"
        ></mat-icon>
      </button>
    </div>

    <ng-container *ngIf="!isSent">
      <div class="font-medium text-gray-900 text-2xl text-center">
        Quên mật khẩu
      </div>
      <div class="mt-6">
        <p class="text-gray-500 text-base mb-8">
          {{ "Hệ thống sẽ gửi một đường link để đặt lại mật khẩu vào email" }}
          <span class="font-medium text-gray-800"
            >nguyenchinhhiep95@gmail.com</span
          >
        </p>

        <app-button
          [type]="'button'"
          [variant]="'primary'"
          [classes]="'w-full'"
          [disabled]="loading"
          (clicked)="sendReset()"
        >
          Đặt lại mật khẩu</app-button
        >
      </div>
    </ng-container>

    <ng-container *ngIf="isSent">
      <div class="flex justify-center mb-4">
        <mat-icon
          class="text-success icon-size-24"
          [svgIcon]="'mat_outline:check_circle'"
        ></mat-icon>
      </div>

      <div class="font-medium text-gray-800 text-2xl text-center">
        Gửi thành công
      </div>
      <div class="mt-6">
        <p class="text-gray-500 text-base mb-8">
          {{
            "Một đường link đặt lại mật khẩu đã được gửi đến email, vui lòng kiểm tra hộp thư đến của bạn."
          }}
        </p>

        <app-button
          [type]="'button'"
          [variant]="'primary'"
          [classes]="'w-full'"
          [disabled]="loading"
          (clicked)="sendReset()"
        >
          Quay lại đăng nhập</app-button
        >
      </div>
    </ng-container>
  </div>
</div>
