<div
  class="w-full h-full overflow-hidden flex flex-col relative bg-default"
>
  <!-- Header -->
  <admin-header></admin-header>
  <div class="flex-grow flex flex-auto w-full overflow-hidden">
    <!-- Navigation -->
    <div>
      <vertical-navigation
        [appearance]="'compact'"
        [name]="'adminNavigation'"
        [navigation]="navigation"
        [mode]="isScreenSmall ? 'over' : 'side'"
        [opened]="!isScreenSmall"
        class="text-secondary bg-surface"
      >
      </vertical-navigation>
    </div>
    <!-- Main -->
    <div class="flex-grow overflow-hidden">
      <div class="h-full p-4 md:p-6 overflow-auto" scrollReset>
        <router-outlet *ngIf="true"></router-outlet>
      </div>
    </div>
  </div>
</div>
