<div class="w-full mx-auto max-w-2xl relative" *ngIf="userProfile">
  <app-breadcrumb
    class="block font-medium text-2xl w-full mb-6"
  ></app-breadcrumb>
  <div class="flex gap-4 items-center mb-4 w-full">
    <div class="flex gap-4 items-center mr-auto">
      <img
        *ngIf="userProfile?.avatar"
        class="w-24 h-24 rounded-full overflow-hidden"
        [src]="userProfile?.avatar"
        alt=""
      />
      <div
        *ngIf="!userProfile?.avatar"
        class="w-24 h-24 rounded-full overflow-hidden flex justify-center items-center font-medium bg-accent text-white uppercase text-2xl"
      >
        {{ userProfile?.firstName?.charAt(0) || "" }}
      </div>
      <div class="flex flex-col gap-1">
        <div class="font-medium text-primary">
          {{
            userProfile?.firstName
              ? userProfile?.firstName + " " + userProfile?.lastName
              : ""
          }}
        </div>
        <div class="text-tertiary text-sm font-medium">
          {{ userProfile?.userType }}
        </div>
      </div>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
      <mat-icon [svgIcon]="'mat_outline:more_vert'"></mat-icon>
    </button>

    <mat-menu #actionMenu="matMenu" [xPosition]="'before'">
      <ng-template matMenuContent>
        <button
          *ngIf="userProfile?.status !== userStatus.Pending"
          type="button"
          mat-menu-item
          mat-menu-item
          (click)="viewProfile()"
        >
          <mat-icon
            class="text-danger"
            svgIcon="mat_outline:visibility"
          ></mat-icon>
          <span>{{ "Action.ViewProfile" | translate }}</span>
        </button>
        <button
          *ngIf="userProfile?.status === userStatus.Reviewing"
          type="button"
          mat-menu-item
          (click)="approve()"
        >
          <mat-icon class="text-primary" svgIcon="mat_outline:done"></mat-icon>
          <span>{{ "Action.Approve" | translate }}</span>
        </button>
        <button
          *ngIf="userProfile?.status === userStatus.Reviewing"
          type="button"
          mat-menu-item
          (click)="reject()"
        >
          <mat-icon class="text-warn" svgIcon="mat_outline:close"></mat-icon>
          <span>{{ "Action.Reject" | translate }}</span>
        </button>
        <button
          *ngIf="
            userProfile?.status === userStatus.Active ||
            userProfile?.status === userStatus.Blocked
          "
          type="button"
          mat-menu-item
          (click)="block()"
        >
          <mat-icon
            class="text-danger"
            [svgIcon]="
              userProfile?.status === userStatus.Active
                ? 'mat_outline:lock'
                : 'mat_outline:lock_open'
            "
          ></mat-icon>
          <span>{{
            userProfile?.status === userStatus.Active
              ? ("Action.Block" | translate)
              : ("Action.Unblock" | translate)
          }}</span>
        </button>
        <button type="button" mat-menu-item mat-menu-item (click)="delete()">
          <mat-icon class="text-danger" svgIcon="mat_outline:delete"></mat-icon>
          <span>{{ "Action.Delete" | translate }}</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>

  <div class="flex-grow flex-col flex-wrap flex gap-4">
    <!-- Tab Navigation -->
    <nav mat-tab-nav-bar [disableRipple]="true" [color]="'primary'" class="">
      <a
        mat-tab-link
        [routerLink]="link.routerLink"
        [queryParamsHandling]="'merge'"
        *ngFor="let link of navigation"
        [active]="activeLink == link"
      >
        {{ link.label }}
      </a>
    </nav>
    <div class="flex-grow flex-shrink-0">
      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center items-center p-6" *ngIf="!userProfile">
  <mat-progress-spinner [diameter]="36" mode="indeterminate">
  </mat-progress-spinner>
</div>
