<div class="w-full mx-auto min-h-full flex flex-col max-w-5xl overflow-hidden">
  <div class="flex gap-2 flex-wrap md:flex-nowrap justify-between">
    <div class="flex flex-wrap sm:flex-nowrap gap-x-4 w-full">
      <mat-form-field
        class="w-full sm:w-1/2 mat-form-field--sm"
        appearance="fill"
        [floatLabel]="'always'"
        [ngClass]=""
      >
        <input
          matInput
          type="text"
          [placeholder]="'User.SearchPlaceholder' | translate"
          name="search"
          [formControl]="searchInput"
          #search
        />
        <button matPrefix type="button">
          <mat-icon [svgIcon]="'mat_outline:search'"> </mat-icon>
        </button>
        <button
          matSuffix
          mat-icon-button
          type="button"
          *ngIf="search.value !== ''"
          (click)="searchInput.setValue('')"
        >
          <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:close'">
          </mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="w-40 md:w-48 mat-form-field--sm flex-shrink-0"
      >
        <mat-select
          placeholder="{{ 'Filter by type' | translate }}"
          [formControl]="userType"
        >
          <mat-select-trigger>
            <div class="flex gap-2 items-center">
              <div
                class="w-4 h-4 rounded-full flex-shrink-0"
                [ngClass]="userType.value?.class"
              ></div>
              <div class="text-sm">{{ userType.value?.label }}</div>
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let item of userTypes" [value]="item">
            <div class="flex gap-2 items-center">
              <div
                class="w-4 h-4 rounded-full flex-shrink-0"
                [ngClass]="item.class"
              ></div>
              <div class="text-sm">{{ item.label }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="w-40 md:w-48 mat-form-field--sm flex-shrink-0"
      >
        <mat-select
          placeholder="{{ 'Filter by status' | translate }}"
          [formControl]="userStatus"
        >
          <mat-select-trigger>
            <div class="flex gap-2 items-center">
              <div
                class="w-4 h-4 rounded-full flex-shrink-0"
                [ngClass]="userStatus.value?.class"
              ></div>
              <div class="text-sm">{{ userStatus.value?.label }}</div>
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let item of userStatuses" [value]="item">
            <div class="flex gap-2 items-center">
              <div
                class="w-4 h-4 rounded-full flex-shrink-0"
                [ngClass]="item.class"
              ></div>
              <div class="text-sm">{{ item.label }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="flex-shrink-0">
        <div class="text-sm text-danger">Clear</div>
      </button>
    </div>
  </div>
  <div class="flex-grow overflow-hidden">
    <div
      class="border border-solid border-light rounded overflow-hidden select-none"
    >
      <div class="overflow-auto w-full h-full">
        <table mat-table [dataSource]="dataSource" class="w-full" matSort>
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="w-20">
              {{ "Table.No" | translate }}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{
                i +
                  1 +
                  paginationConfig.itemsPerPage *
                    (paginationConfig.currentPage - 1)
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef>
              {{ "Table.Photo" | translate }}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div>
                <img
                  *ngIf="element?.avatarUrl"
                  class="w-9 h-9 rounded-full overflow-hidden"
                  [src]="element?.avatarUrl"
                  alt=""
                />
                <div
                  *ngIf="!element?.avatarUrl"
                  class="w-9 h-9 rounded-full overflow-hidden flex justify-center items-center font-medium bg-gray-300 text-tertiary uppercase"
                >
                  {{ element?.firstName?.charAt(0) || "H" }}
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              {{ "Table.Name" | translate }}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="whitespace-nowrap">{{ "Hiep Nguyen" }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ "nguyenchinhhiep95@gmail.com" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
              {{ "Table.Type" | translate }}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="flex gap-2 items-center">
                <div class="w-4 h-4 rounded-full bg-accent"></div>
                <div>Tutor</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="w-40">
              {{ "Table.Status" | translate }}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <!-- <div class="tag" [ngClass]="getStatus(element).class">
                {{ getStatus(element).translateKey | translate }}
              </div> -->
              <div class="flex gap-2 items-center">
                <div class="w-4 h-4 rounded-full bg-warn-400"></div>
                <div>Pending</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="w-24">
              {{ "Table.Action" | translate }}
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button [matMenuTriggerFor]="actionMenu">
                <mat-icon [svgIcon]="'mat_outline:more_vert'"></mat-icon>
              </button>

              <mat-menu #actionMenu="matMenu" [xPosition]="'before'">
                <ng-template matMenuContent>
                  <button type="button" mat-menu-item>
                    <mat-icon
                      class="text-primary"
                      svgIcon="mat_outline:done"
                    ></mat-icon>
                    <span>{{ "Action.Approve" | translate }}</span>
                  </button>
                  <button type="button" mat-menu-item>
                    <mat-icon
                      class="text-warn"
                      svgIcon="mat_outline:close"
                    ></mat-icon>
                    <span>{{ "Action.Reject" | translate }}</span>
                  </button>
                  <button type="button" mat-menu-item routerLink="1">
                    <mat-icon
                      class="text-danger"
                      svgIcon="mat_outline:edit"
                    ></mat-icon>
                    <span>{{ "Action.Update" | translate }}</span>
                  </button>
                  <button
                    type="button"
                    mat-menu-item
                    mat-menu-item
                    (click)="delete(element)"
                  >
                    <mat-icon
                      class="text-danger"
                      svgIcon="mat_outline:delete"
                    ></mat-icon>
                    <span>{{ "Action.Delete" | translate }}</span>
                  </button>
                </ng-template>
              </mat-menu>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: false"
          ></tr>
          <tr
            (dblclick)="onDetail()"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell text-center"
              [attr.colspan]="displayedColumns.length"
            >
              {{ "Table.NoData" | translate }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <ng-container
    *ngFor="let item of dataSource.data | paginate : paginationConfig"
  ></ng-container>
  <div class="mt-6 flex gap-4 items-center justify-between">
    <div class="text-tertiary text-sm">
      {{ "1" }} {{ "Table.To" | translate }} {{ "11" }}
      {{ "Table.Of" | translate }} {{ "65" }} {{ "Table.Records" | translate }}
    </div>
    <pagination-controls
      (pageChange)="onPageChanged($event)"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>
</div>
