/* ----------------------------------------------------------------------------------------------------- */
/*  @ Angular Material CDK helpers & overrides
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/*  CDK Scrollblock
/* ----------------------------------------------------------------------------------------------------- */
.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Form fields
/* ----------------------------------------------------------------------------------------------------- */

.mat-form-field.mat-form-field-appearance-fill {
  /* Disabled */
  &.mat-form-field-disabled {
    opacity: 0.7 !important;
  }

  /* Invalid */
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      /* Border color */
      .mat-form-field-flex {
        @apply border-danger dark:border-danger #{'!important'};
      }
    }
  }

  /* Focused */
  &.mat-focused {
    .mat-form-field-wrapper {
      /* Background color */
    }
  }

  /* Focused and valid fields */
  &.mat-focused:not(.mat-form-field-invalid) {
    .mat-form-field-wrapper {
      /* Border color */
      .mat-form-field-flex {
        @apply border-primary dark:border-primary #{'!important'};
      }
    }
  }

  /* Disable floating mat-label */
  &.mat-form-field-has-label.mat-form-field-can-float.mat-form-field-should-float {
    .mat-form-field-label-wrapper {
      .mat-form-field-label {
        width: 100% !important;
        transform: none !important;
      }
    }
  }

  /* Default style tweaks and enhancements */
  .mat-form-field-wrapper {
    margin-bottom: 16px;
    padding-bottom: 0;

    .mat-form-field-flex {
      position: relative;
      display: flex;
      align-items: stretch;
      height: 50px;
      border-radius: 4px;
      padding: 0 16px;
      border-width: 1px;
      @apply bg-white border-gray-300 dark:bg-black dark:bg-opacity-5 dark:border-gray-500 #{'!important'};

      .mat-form-field-prefix {
        > .mat-icon {
          margin-right: 12px;
        }

        > .mat-icon-button {
          margin: 0 4px 0 -8px;
        }

        > .mat-select {
          margin-right: 8px;
        }

        > .mat-datepicker-toggle {
          margin-left: -8px;
        }

        > *:not(.mat-icon):not(.mat-icon-button):not(.mat-select):not(
            .mat-datepicker-toggle
          ) {
          margin-right: 12px;
        }
      }

      .mat-form-field-suffix {
        > .mat-icon {
          margin-left: 12px;
        }

        > .mat-icon-button {
          margin: 0 -8px 0 4px;
        }

        > .mat-select {
          margin-left: 8px;
        }

        > .mat-datepicker-toggle {
          margin-right: -8px;
        }
      }

      .mat-datepicker-toggle {
        margin-right: -8px;
        @apply text-hint;

        .mat-icon-button {
          min-width: 40px !important;
          width: 40px !important;
          height: 40px !important;
          min-height: 40px !important;
        }
      }

      .mat-select-arrow {
        @apply text-hint;
      }

      .mat-form-field-prefix,
      .mat-form-field-suffix {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @apply text-hint #{'!important'};

        .mat-icon-button {
          width: 40px !important;
          min-width: 40px !important;
          height: 40px !important;
          min-height: 40px !important;
        }

        .mat-icon,
        .mat-icon-button:not(.mat-button-disabled),
        .mat-select-value {
          @apply text-secondary;
        }

        /* Remove the margins from the mat-icon if it's inside a button */
        /* Force the icon size to 24 */
        .mat-button,
        .mat-raised-button,
        .mat-icon-button,
        .mat-stroked-button,
        .mat-flat-button,
        .mat-fab,
        .mat-mini-fab {
          .mat-icon {
            margin: 0 !important;
            @apply icon-size-6;
          }
        }

        /* Datepicker default icon size */
        .mat-datepicker-toggle-default-icon {
          @apply icon-size-6;
        }

        /* Make mat-select usable as prefix and suffix */
        .mat-select {
          display: flex;
          align-items: center;

          &:focus {
            .mat-select-trigger {
              .mat-select-value {
                @apply text-primary #{'!important'};
              }

              .mat-select-arrow-wrapper {
                .mat-select-arrow {
                  border-top-color: var(--primary) !important;
                }
              }
            }
          }

          .mat-select-trigger {
            display: flex;
            align-items: center;

            .mat-select-value {
              display: flex;
              max-width: none;

              mat-select-trigger {
                .mat-icon {
                  margin: 0 !important;
                }
              }
            }

            .mat-select-arrow-wrapper {
              display: flex;
              align-items: center;
              transform: none;
              margin-left: 4px;

              .mat-select-arrow {
                min-height: 0;
                @apply text-hint #{'!important'};
              }
            }
          }
        }
      }

      .mat-form-field-infix {
        position: static;
        display: flex;
        align-items: center;
        width: 88px;
        padding: 8px 0;
        border: 0;

        .mat-input-element {
          padding: 0;
          margin-top: 0;
        }

        /* Textarea */
        textarea.mat-input-element {
          display: flex;
          align-self: stretch;
          min-height: 36px;
          height: auto;
          margin: 14px 0;
          padding: 0 6px 0 0;
          transform: none;
        }

        /* Select */
        .mat-select {
          display: inline-flex;

          .mat-select-trigger {
            display: inline-flex;
            align-items: center;
            width: 100%;

            .mat-select-value {
              display: flex;
              position: relative;
              max-width: none;

              .mat-select-value-text {
                display: inline-flex;

                > * {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }

          .mat-select-arrow-wrapper {
            transform: translateY(0);

            .mat-select-arrow {
              margin: 0 0 0 8px;
            }
          }
        }

        /* Chips */
        .mat-chip-list {
          width: 100%;
          margin: 0 -8px;

          .mat-chip-input {
            margin: 0 0 0 8px;
          }
        }

        .mat-form-field-label-wrapper {
          top: -28px;
          height: auto;
          padding-top: 0;
          overflow: visible;
          pointer-events: auto;

          .mat-form-field-label {
            position: relative;
            top: 0;
            margin-top: 0;
            backface-visibility: hidden;
            transition: none;
            font-weight: 400;
            @apply text-secondary #{'!important'};
          }
        }
      }

      /* mat-progress-spinner inside buttons */
      .mat-progress-spinner {
        &.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] {
          circle {
            stroke: currentColor !important;
          }
        }
      }
    }

    /* Remove the underline */
    .mat-form-field-underline {
      display: none;
    }

    /* Subscript tweaks */
    .mat-form-field-subscript-wrapper {
      position: relative;
      top: auto;
      padding: 0;
      margin-top: 0;
      font-size: 13px;
      font-weight: 400;

      // > div {
      //   display: contents; /* Remove the div from flow to stop the subscript animation */
      // }

      .mat-error,
      .mat-hint {
        display: block;
        margin-top: 4px;
      }

      .mat-hint {
        @apply text-hint #{'!important'};
      }
    }
  }

  /* Adjustments for mat-label */
  &.mat-form-field-has-label {
    .mat-form-field-wrapper {
      margin-top: 28px;
    }
  }

  /* Remove the default arrow for native select */
  &.mat-form-field-type-mat-native-select {
    .mat-form-field-infix {
      select {
        top: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-right: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2364748B' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right -7px center;
        background-size: 24px;

        .dark & {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2397a6ba' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
        }
      }

      &:after {
        display: none;
      }
    }
  }

  /* Adds better alignment for textarea inputs */
  &.mat-textarea {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-prefix,
        .mat-form-field-suffix {
          align-items: flex-start;
        }

        .mat-form-field-prefix {
          padding-top: 12px;
        }

        .mat-form-field-suffix {
          padding-top: 12px;
        }
      }
    }
  }

  /* Removes subscript space */
  &.mat-no-subscript {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin-bottom: 0;

      .mat-form-field-subscript-wrapper {
        display: none !important;
        height: 0 !important;
      }
    }
  }

  /* Add style for smaller inputs */
  &.mat-form-field--sm {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        height: 42px;
      }
    }
  }
}

/* Fix the outline appearance */
.mat-form-field.mat-form-field-appearance-outline {
  .mat-form-field-flex {
    .mat-form-field-outline {
      @apply text-gray-300 dark:text-gray-500;
    }
  }

  .mat-form-field-label {
    text-transform: uppercase;
    font-weight: 500;
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Inputs
/* ----------------------------------------------------------------------------------------------------- */
.mat-input-element {
  @apply overflow-ellipsis;
  
  &::placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }

  &::-moz-placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }

  &::-webkit-input-placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }

  &:-ms-input-placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Select
/* ----------------------------------------------------------------------------------------------------- */
.mat-select {
  .mat-select-placeholder {
    @apply text-hint #{'!important'};
  }
}

.mat-select-panel:not([class*="mat-elevation-z"]) {
  @apply shadow-base #{'!important'};
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Menu
/* ----------------------------------------------------------------------------------------------------- */
.mat-menu-panel {
  @apply shadow-base #{'!important'};
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Buttons
/* ----------------------------------------------------------------------------------------------------- */
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
  line-height: 1 !important;

  .mat-button-wrapper {
    position: relative;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2; /* Move mat-button-wrapper above the ripple and focus overlay */
  }

  .mat-button-focus-overlay,
  .mat-button-ripple {
    z-index: 1;
  }

  &.btn--sm {
    height: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
    padding: 0 14px;
    font-size: 14px;
  }

  &.btn--lg {
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }

  /* mat-progress-spinner inside buttons */
  .mat-progress-spinner {
    &.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] {
      circle {
        stroke: currentColor !important;
      }
    }
  }
}

/* Colored background buttons */
.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  .mat-icon {
    color: currentColor !important;
  }

  /* Add hover and focus style on all buttons */
  .mat-button-focus-overlay {
    @apply bg-gray-400 bg-opacity-20 dark:bg-black dark:bg-opacity-5 #{'!important'};
  }

  /* On palette colored buttons, use a darker color */
  &.mat-primary,
  &.mat-accent,
  &.mat-warn {
    .mat-button-focus-overlay {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  &:hover,
  &.cdk-keyboard-focused,
  &.cdk-program-focused {
    .mat-button-focus-overlay {
      opacity: 1 !important;
    }
  }

  @media (hover: none) {
    &:hover {
      .mat-button-focus-overlay {
        opacity: 0 !important;
      }
    }
  }

  &.mat-button-disabled {
    color: white !important;
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

/* Transparent background buttons */
.mat-button,
.mat-icon-button,
.mat-stroked-button {
  /* Apply primary color */
  &.mat-primary:not(.mat-button-disabled) {
    .mat-icon {
      @apply text-primary #{'!important'};
    }
  }

  /* Apply accent color */
  &.mat-accent:not(.mat-button-disabled) {
    .mat-icon {
      @apply text-accent #{'!important'};
    }
  }

  /* Apply warn color */
  &.mat-warn:not(.mat-button-disabled) {
    .mat-icon {
      @apply text-warn #{'!important'};
    }
  }

  /* Add hover and focus styles */
  .mat-button-focus-overlay {
    @apply bg-gray-400 bg-opacity-20 dark:bg-black dark:bg-opacity-5 #{'!important'};
  }

  /* On primary colored buttons, use the primary color as focus overlay */
  &.mat-primary:not(.mat-button-disabled) {
    .mat-button-focus-overlay {
      @apply bg-primary #{'!important'};
    }
  }

  /* On accent colored buttons, use the accent color as focus overlay */
  &.mat-accent:not(.mat-button-disabled) {
    .mat-button-focus-overlay {
      @apply bg-accent #{'!important'};
    }
  }

  /* On warn colored buttons, use the warn color as focus overlay */
  &.mat-warn:not(.mat-button-disabled) {
    .mat-button-focus-overlay {
      @apply bg-warn #{'!important'};
    }
  }

  &.mat-primary:not(.mat-button-disabled),
  &.mat-accent:not(.mat-button-disabled),
  &.mat-warn:not(.mat-button-disabled) {
    &:hover,
    &.cdk-keyboard-focused,
    &.cdk-program-focused {
      .mat-button-focus-overlay {
        opacity: 0.1 !important;
      }
    }
  }

  &:hover,
  &.cdk-keyboard-focused,
  &.cdk-program-focused {
    .mat-button-focus-overlay {
      opacity: 1 !important;
    }
  }

  @media (hover: none) {
    &:hover {
      .mat-button-focus-overlay {
        opacity: 0 !important;
      }
    }
  }

  &.mat-button-disabled {
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

/* Stroked buttons */
.mat-stroked-button {
  /* Border color */
  &:not(.mat-button-disabled) {
    @apply border-gray-300 dark:border-gray-500 #{'!important'};
  }

  &.mat-button-disabled {
    @apply border-gray-200 dark:border-gray-600 #{'!important'};
  }
}

/* Icon buttons */
.mat-icon-button {
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;

  &.btn--sm {
    width: 32px !important;
    min-width: 32px !important;
    max-width: 32px !important;
    height: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
  }

  &.btn--lg {
    width: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }
}

/* Mat buttons */
.mat-button {
  &.mat-primary:not(.mat-button-disabled).btn--soft {
    @apply bg-primary-100;
  }

  &.mat-accent:not(.mat-button-disabled).btn--soft {
    @apply bg-accent-100;
  }

  &.mat-warn:not(.mat-button-disabled).btn--soft {
    @apply bg-warn-100;
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Mat icon
/* ----------------------------------------------------------------------------------------------------- */
.mat-icon {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Datepicker
/* ----------------------------------------------------------------------------------------------------- */

.mat-calendar {
  @apply leading-none;

  .mat-icon-button {
    width: 40px !important;
    min-width: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
  }
}

.mat-datepicker-content {
  @apply shadow-base #{'!important'};
}

/* Hover and active cell content background opacity */
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover,
.cdk-keyboard-focused .mat-calendar-body-active,
.cdk-program-focused .mat-calendar-body-active {
  & > .mat-calendar-body-cell-content {
    &:not(.mat-calendar-body-selected):not(
        .mat-calendar-body-comparison-identical
      ) {
      @apply bg-primary bg-opacity-30 #{'!important'};
    }
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Checkbox
/* ----------------------------------------------------------------------------------------------------- */
.mat-checkbox {
  display: inline-flex;

  /* Allow multiline text */
  .mat-checkbox-layout {
    white-space: normal;

    .mat-checkbox-inner-container {
      width: 20px;
      height: 20px;
    }

    .mat-checkbox-label {
      line-height: inherit;
    }
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Stepper
/* ----------------------------------------------------------------------------------------------------- */
mat-stepper {
  // Step label
  .mat-step-label {
    &.mat-step-label-selected {
      font-weight: 500;
    }
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @Dialog
/* ----------------------------------------------------------------------------------------------------- */
.mat-dialog-container {
  padding: 0 !important;
}

/* ----------------------------------------------------------------------------------------------------- */
/*  Table
/* ----------------------------------------------------------------------------------------------------- */
.mat-table {
  // Header cell
  .mat-header-cell {
    @apply border-gray-200 #{!important};
    @apply whitespace-nowrap text-sm font-medium;
    @apply text-gray-700 #{'!important'};
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    @apply pl-4;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    @apply pr-4;
  }

  // Cell
  .mat-cell {
    @apply border-gray-200 text-gray-700 #{!important};
    @apply py-2;
  }

  // Body cell
  tbody {
    > tr:last-of-type {
      > td {
        border-bottom: 0;
      }
    }
  }

  // Footer cell
  .mat-footer-cell {
    @apply border-gray-200 #{!important};
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    @apply px-4;
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  Tabs
/* ----------------------------------------------------------------------------------------------------- */

// Tab nav bar
.mat-tab-nav-bar {
  border-bottom: 0 !important;

  .mat-tab-link {
    min-width: 100px;
    height: 40px;
    text-decoration-line: none;
  }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  Chips
/* ----------------------------------------------------------------------------------------------------- */
.mat-chip {
  font-weight: 500;
  @apply bg-hover #{!important};
}
