// Hack remove autofill default styles
input,
textarea {
  &:-webkit-autofill {
    -webkit-transition: "background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  &:-webkit-autofill:hover {
    -webkit-transition: "background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  &:-webkit-autofill:focus {
    -webkit-transition: "background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  &:-webkit-autofill:active {
    -webkit-transition: "background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
}
